.hero {
  padding-top: 10vh;
  min-height: clamp(300px, 92vh, 1100px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  gap: 0;
  overflow: hidden;
}
.herocontent.composer {
  background-image: url('../../assets/staff.svg');
  background-size: 200px;
  background-position: center var(--staff-mid-y, clamp(100px, 44vh, 1000px));
  background-repeat: repeat-x;
}
.hero h1,
.hero p {
  overflow: visible;
  text-align: center;
}
.hero h1 {
  margin-top: 1em;
  margin-bottom: 0;
  z-index: 1;
}
@media (min-height: 400px) {
  .hero h1 {
    margin-top: 0;
  }
}

.hero p {
  z-index: 9;
  pointer-events: none;
  margin-top: 1em;
}
.hero.welcome.touch {
  padding-top: 0;
  min-height: clamp(300px, 80vh, 1000px);
}
.hero.welcome.touch h1 {
  margin-top: 0;
}
.hero.welcome.touch p {
  margin-bottom: 50%;
}
.hero.welcome h1,
.hero.welcome p {
  z-index: 3;
  text-align: center;
}
.hero h1 {
  -webkit-text-stroke: 1px var(--color-primary-1);
  -moz-text-stroke: 1px var(--color-primary-1);
  -ms-text-stroke: 1px var(--color-primary-1);
  -o-text-stroke: 1px var(--color-primary-1);
  -webkit-text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 0.1em var(--color-primary-1);
  -moz-text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 0.1em var(--color-primary-1);
  -ms-text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 0.1em var(--color-primary-1);
  -o-text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 0.1em var(--color-primary-1);
  text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 0.1em var(--color-primary-1);
}
.hero.light h1 {
  -webkit-text-stroke: 1px var(--color-primary-3);
  -moz-text-stroke: 1px var(--color-primary-3);
  -ms-text-stroke: 1px var(--color-primary-3);
  -o-text-stroke: 1px var(--color-primary-3);
  -webkit-text-shadow:
    1px 1px 1px var(--color-primary-4),
    0 0 0.1em var(--color-primary-4);
  -moz-text-shadow:
    1px 1px 1px var(--color-primary-4),
    0 0 0.1em var(--color-primary-4);
  -ms-text-shadow:
    1px 1px 1px var(--color-primary-4),
    0 0 0.1em var(--color-primary-4);
  -o-text-shadow:
    1px 1px 1px var(--color-primary-4),
    0 0 0.1em var(--color-primary-4);
  text-shadow:
    1px 1px 1px var(--color-primary-4),
    0 0 0.1em var(--color-primary-4);
}
.hero p {
  -webkit-text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 1em var(--color-primary-1),
    0 0 0.3em var(--color-primary-1);
  -moz-text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 1em var(--color-primary-1),
    0 0 0.3em var(--color-primary-1);
  -ms-text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 1em var(--color-primary-1),
    0 0 0.3em var(--color-primary-1);
  -o-text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 1em var(--color-primary-1),
    0 0 0.3em var(--color-primary-1);
  text-shadow:
    1px 1px 1px var(--color-primary-1),
    0 0 1em var(--color-primary-1),
    0 0 0.3em var(--color-primary-1);
  font-size: 1.1em;
}
.herocontent {
  --time: 400ms;
  z-index: 2;
  height: 100%;
  padding: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-delay: 0s;
}
.herocontent .bubbles,
.herocontent .eyes,
.herocontent .geometric,
.herocontent .triangle,
.herocontent .note,
.herocontent .circles {
  transition-property: top, right, bottom, left, transform, filter, box-shadow, outline, border, width, height, opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 600ms;
  -webkit-tap-highlight-color: transparent;
  pointer-events: all;
}
.herocontent .jewel,
.herocontent .jewel::before {
  transition-property: top, left, transform, opacity, filter; /* Removed box-shadow for dark-light transformation smoothness */
  transition-timing-function: ease-in-out;
  transition-duration: 800ms;
  -webkit-tap-highlight-color: transparent;
  pointer-events: all;
}

.herocontent .jewel1 > div > div.none {
  background: radial-gradient(circle at center, hsl(var(--hue), 100%, 80%) 0%, var(--color) 100%);
  mix-blend-mode: hard-light;
}

.herocontent .jewel2 > div > div.none {
  background: radial-gradient(circle at center, hsl(var(--hue), 100%, 75%) 0%, var(--color) 100%);
  mix-blend-mode: hard-light;
}
.herocontent .jewel1 > div > div.cover {
  background: radial-gradient(circle at center, hsl(var(--hue), 100%, 80%) 0%, var(--color) 100%);
  mix-blend-mode: darken;
}
.herocontent .jewel2 > div > div.cover {
  background: radial-gradient(circle at center, hsl(var(--hue), 100%, 80%) 0%, var(--color) 100%);
  mix-blend-mode: luminosity;
}
.herocontent .jewel > div > div.frame {
  background: linear-gradient(45deg, hsl(var(--hue), 100%, 80%) 10%, hsl(var(--hue), 100%, 40%) 20%, hsl(var(--hue), 100%, 40%) 35%, hsl(var(--hue), 100%, 80%) 50%, hsl(var(--hue), 100%, 40%) 65%, hsl(var(--hue), 100%, 40%) 85%, hsl(var(--hue), 100%, 80%) 90%);
}
.herocontent .jewel.blue > div > div.frame {
  mix-blend-mode: color-dodge;
}
.herocontent .jewel.orange > div > div.frame {
  mix-blend-mode: overlay;
}

.herocontent .jewel > div > div:not(.none):not(.cover):not(.frame) {
  animation: rotate-colors 4000ms linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--number) * -500ms - 2500ms);
  background-image: radial-gradient(circle at top left, hsl(var(--hue), 100%, 40%) 34%, hsl(var(--hue), 100%, 80%) 37%, hsl(var(--hue), 100%, 40%) 40%, hsl(var(--hue), 100%, 40%) 57%, hsl(var(--hue), 100%, 80%) 50%, hsl(var(--hue), 100%, 40%) 53%, hsl(var(--hue), 100%, 40%) 60%, hsl(var(--hue), 100%, 80%) 63%, hsl(var(--hue), 100%, 40%) 66%);
  background-size: 450% 450%;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.herocontent .jewel2 > div > div:not(.none):not(.cover):not(.frame) {
  animation: rotate-colors2 4000ms linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--number) * -500ms - 1500ms);
  background-image: linear-gradient(0deg, hsl(var(--hue), 100%, 40%) 20%, hsl(var(--hue), 100%, 80%) 23%, hsl(var(--hue), 100%, 40%) 26%, hsl(var(--hue), 100%, 40%) 40%, hsl(var(--hue), 100%, 80%) 43%, hsl(var(--hue), 100%, 40%) 46%, hsl(var(--hue), 100%, 40%) 50%, hsl(var(--hue), 100%, 80%) 53%, hsl(var(--hue), 100%, 40%) 56%, hsl(var(--hue), 100%, 40%) 60%, hsl(var(--hue), 100%, 80%) 63%, hsl(var(--hue), 100%, 40%) 66%, hsl(var(--hue), 100%, 40%) 74%, hsl(var(--hue), 100%, 80%) 77%, hsl(var(--hue), 100%, 40%) 80%);
  background-size: 100% 600%;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.herocontent .jewel:hover > div > div:not(.none):not(.cover):not(.frame),
.herocontent .jewel:focus > div > div:not(.none):not(.cover):not(.frame) {
  animation-play-state: running;
}
@keyframes rotate-colors {
  0% {
    filter: contrast(20%) brightness(180%);
    background-position: 0 0;
  }
  50% {
    filter: contrast(300%) brightness(80%);
    background-position: 50% 50%;
  }
  100% {
    filter: contrast(20%) brightness(180%);
    background-position: 100% 100%;
  }
}
@keyframes rotate-colors2 {
  0% {
    filter: contrast(190%) brightness(50%);
    background-position: 0 0;
  }
  50% {
    filter: contrast(20%) brightness(190%);
    background-position: 0 50%;
  }
  100% {
    filter: contrast(190%) brightness(50%);
    background-position: 0 100%;
  }
}

.herocontent .triangle {
  --time: 800ms;
  -webkit-clip-path: polygon(50% 45%, 105% 98%, 105% 160%, -5% 160%, -5% 98%);
  -moz-clip-path: polygon(50% 45%, 105% 98%, 105% 160%, -5% 160%, -5% 98%);
  -ms-clip-path: polygon(50% 45%, 105% 98%, 105% 160%, -5% 160%, -5% 98%);
  -o-clip-path: polygon(50% 45%, 105% 98%, 105% 160%, -5% 160%, -5% 98%);
  clip-path: polygon(50% 45%, 105% 98%, 105% 160%, -5% 160%, -5% 98%);
  -webkit-transform: rotate(var(--rotate)) scaleX(0.77);
  -moz-transform: rotate(var(--rotate)) scaleX(0.77);
  -ms-transform: rotate(var(--rotate)) scaleX(0.77);
  -o-transform: rotate(var(--rotate)) scaleX(0.77);
  transform: rotate(var(--rotate)) scaleX(0.77);
  border-style: solid;
  border-color: transparent;
  border-bottom-color: var(--color);
  -webkit-box-shadow: 0 calc(0.3vw * var(--s)) calc(0.3vw * var(--s)) calc(-0.33vw * var(--s)) var(--color);
  -moz-box-shadow: 0 calc(0.3vw * var(--s)) calc(0.3vw * var(--s)) calc(-0.33vw * var(--s)) var(--color);
  -ms-box-shadow: 0 calc(0.3vw * var(--s)) calc(0.3vw * var(--s)) calc(-0.33vw * var(--s)) var(--color);
  -o-box-shadow: 0 calc(0.3vw * var(--s)) calc(0.3vw * var(--s)) calc(-0.33vw * var(--s)) var(--color);
  box-shadow: 0 calc(0.3vw * var(--s)) calc(0.3vw * var(--s)) calc(-0.33vw * var(--s)) var(--color);
}
.herocontent li.jewel {
  opacity: 0.77;
  pointer-events: all;
  -webkit-transform: rotate(var(--rotate2)) scale(1);
  -moz-transform: rotate(var(--rotate2)) scale(1);
  -ms-transform: rotate(var(--rotate2)) scale(1);
  -o-transform: rotate(var(--rotate2)) scale(1);
  transform: rotate(var(--rotate2)) scale(1);
  -webkit-animation: rotate-jewel 4000ms linear infinite;
  -o-animation: rotate-jewel 4000ms linear infinite;
  -ms-animation: rotate-jewel 4000ms linear infinite;
  -moz-animation: rotate-jewel 4000ms linear infinite;
  animation: rotate-jewel 4000ms linear infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}

.herocontent li.jewel::before {
  position: absolute;
  content: '';
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  border-radius: 50%;
  z-index: -1;
  background-color: transparent;
  pointer-events: none;
}

.herocontent li.jewel1::before {
  box-shadow:
    0 0 70px 0 hsl(var(--hue), 100%, 60%),
    0 0 100px 0 hsl(var(--hue), 100%, 60%);
}

.herocontent li.jewel2::before {
  box-shadow:
    0 0 70px 0 hsl(var(--hue), 100%, 60%),
    0 0 100px 0 hsl(var(--hue), 100%, 60%);
}

.light .herocontent li.jewel::before {
  box-shadow:
    0 0 60px 2px white,
    0 0 90px 2px white;
}
.light .herocontent li.jewel1::before {
  box-shadow:
    0 0 60px 2px white,
    0 0 90px 2px white;
}

.herocontent li.jewel > div,
.herocontent li.jewel > div > div {
  pointer-events: none;
}

.herocontent .triangle:focus,
.herocontent .triangle:focus-visible {
  outline: 0;
}
.herocontent .triangle::after,
.herocontent .triangle::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(var(--border) * -1);
  width: calc(var(--border) * 2);
  height: calc(var(--border));
  -webkit-box-shadow: 0 3vw 2.5vw -2.9vw var(--color);
  -moz-box-shadow: 0 3vw 2.5vw -2.9vw var(--color);
  -ms-box-shadow: 0 3vw 2.5vw -2.9vw var(--color);
  -o-box-shadow: 0 3vw 2.5vw -2.9vw var(--color);
  box-shadow: 0 3vw 2.5vw -2.9vw var(--color);
  -webkit-animation: box-shadow var(--time) linear infinite;
  -o-animation: box-shadow var(--time) linear infinite;
  -ms-animation: box-shadow var(--time) linear infinite;
  -moz-animation: box-shadow var(--time) linear infinite;
  animation: box-shadow var(--time) linear infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.light .herocontent .triangle {
  border-bottom-color: var(--color2);
  -webkit-box-shadow: 0 1vw 2.5vw -2.9vw var(--color2);
  -moz-box-shadow: 0 1vw 2.5vw -2.9vw var(--color2);
  -ms-box-shadow: 0 1vw 2.5vw -2.9vw var(--color2);
  -o-box-shadow: 0 1vw 2.5vw -2.9vw var(--color2);
  box-shadow: 0 1vw 2.5vw -2.9vw var(--color2);
}
.light .herocontent .triangle::after,
.light .herocontent .triangle::before {
  -webkit-box-shadow: 0 4vw 2.5vw -2.9vw var(--color2);
  -moz-box-shadow: 0 4vw 2.5vw -2.9vw var(--color2);
  -ms-box-shadow: 0 4vw 2.5vw -2.9vw var(--color2);
  -o-box-shadow: 0 4vw 2.5vw -2.9vw var(--color2);
  box-shadow: 0 4vw 2.5vw -2.9vw var(--color2);
  -webkit-animation: box-shadow-light var(--time) linear infinite;
  -o-animation: box-shadow-light var(--time) linear infinite;
  -ms-animation: box-shadow-light var(--time) linear infinite;
  -moz-animation: box-shadow-light var(--time) linear infinite;
  animation: box-shadow-light var(--time) linear infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}

.herocontent .triangle::before,
.light .herocontent .triangle::before {
  -webkit-animation-delay: calc(var(--time) / 2);
  -o-animation-delay: calc(var(--time) / 2);
  -ms-animation-delay: calc(var(--time) / 2);
  -moz-animation-delay: calc(var(--time) / 2);
  animation-delay: calc(var(--time) / 2);
}
.herocontent .triangle:hover::after,
.herocontent .triangle:hover::before,
.herocontent .triangle:focus::after,
.herocontent .triangle:focus::before,
.herocontent .triangle:focus-visible::before,
.herocontent .triangle:focus-visible::after,
.light .herocontent .triangle:hover::after,
.light .herocontent .triangle:hover::before,
.light .herocontent .triangle:focus::after,
.light .herocontent .triangle:focus::before,
.light .herocontent .triangle:focus-visible::before,
.light .herocontent .triangle:focus-visible::after {
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.herocontent .eyes {
  -webkit-animation: skewWobble 200ms ease-in-out infinite;
  -o-animation: skewWobble 200ms ease-in-out infinite;
  -ms-animation: skewWobble 200ms ease-in-out infinite;
  -moz-animation: skewWobble 200ms ease-in-out infinite;
  animation: skewWobble 200ms ease-in-out infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
  pointer-events: all;
}
.light .herocontent .bubbles {
  --box: inset 0 0 calc(var(--size) * 2 * 1px) calc(var(--size) / -3 * 1px) currentColor, inset calc(var(--size) * -1px) calc(var(--size) * -1px) calc(var(--size) * 2 * 1px) calc(var(--size) * -1.5 * 1px) lime, inset calc(var(--size) * 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 3 * 1px) calc(var(--size) * -6 * 1px) hotpink, 0 0 10px -5px white, 0 0 5px -1px currentColor;
  -webkit-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  box-shadow: var(--box);
}
.herocontent .bubbles {
  -webkit-animation: skewWobble 210ms ease-in-out infinite;
  -o-animation: skewWobble 210ms ease-in-out infinite;
  -ms-animation: skewWobble 210ms ease-in-out infinite;
  -moz-animation: skewWobble 210ms ease-in-out infinite;
  animation: skewWobble 210ms ease-in-out infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-box-shadow:
    inset 0 calc(var(--size) * -6 * 1px) calc(var(--size) * 6 * 1px) calc(var(--size) * -8 * 1px) currentColor,
    inset calc(var(--size) * -3 * 1px) calc(var(--size) * -3 * 1px) calc(var(--size) * 2 * 1px) calc(var(--size) * -4 * 1px) green,
    inset 0 0 calc(var(--size) * 2 * 1px) calc(var(--size) / -2 * 1px) currentColor,
    inset calc(var(--size) * 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 3 * 1px) calc(var(--size) * -6 * 1px) hotpink,
    0 0 10px -5px white,
    0 0 12px -3px currentColor,
    0 0 30px -10px currentColor;
  -o-box-shadow:
    inset 0 calc(var(--size) * -6 * 1px) calc(var(--size) * 6 * 1px) calc(var(--size) * -8 * 1px) currentColor,
    inset calc(var(--size) * -3 * 1px) calc(var(--size) * -3 * 1px) calc(var(--size) * 2 * 1px) calc(var(--size) * -4 * 1px) green,
    inset 0 0 calc(var(--size) * 2 * 1px) calc(var(--size) / -2 * 1px) currentColor,
    inset calc(var(--size) * 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 3 * 1px) calc(var(--size) * -6 * 1px) hotpink,
    0 0 10px -5px white,
    0 0 12px -3px currentColor,
    0 0 30px -10px currentColor;
  -ms-box-shadow:
    inset 0 calc(var(--size) * -6 * 1px) calc(var(--size) * 6 * 1px) calc(var(--size) * -8 * 1px) currentColor,
    inset calc(var(--size) * -3 * 1px) calc(var(--size) * -3 * 1px) calc(var(--size) * 2 * 1px) calc(var(--size) * -4 * 1px) green,
    inset 0 0 calc(var(--size) * 2 * 1px) calc(var(--size) / -2 * 1px) currentColor,
    inset calc(var(--size) * 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 3 * 1px) calc(var(--size) * -6 * 1px) hotpink,
    0 0 10px -5px white,
    0 0 12px -3px currentColor,
    0 0 30px -10px currentColor;
  -moz-box-shadow:
    inset 0 calc(var(--size) * -6 * 1px) calc(var(--size) * 6 * 1px) calc(var(--size) * -8 * 1px) currentColor,
    inset calc(var(--size) * -3 * 1px) calc(var(--size) * -3 * 1px) calc(var(--size) * 2 * 1px) calc(var(--size) * -4 * 1px) green,
    inset 0 0 calc(var(--size) * 2 * 1px) calc(var(--size) / -2 * 1px) currentColor,
    inset calc(var(--size) * 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 3 * 1px) calc(var(--size) * -6 * 1px) hotpink,
    0 0 10px -5px white,
    0 0 12px -3px currentColor,
    0 0 30px -10px currentColor;
  box-shadow:
    inset 0 calc(var(--size) * -6 * 1px) calc(var(--size) * 6 * 1px) calc(var(--size) * -8 * 1px) currentColor,
    inset calc(var(--size) * -3 * 1px) calc(var(--size) * -3 * 1px) calc(var(--size) * 2 * 1px) calc(var(--size) * -4 * 1px) green,
    inset 0 0 calc(var(--size) * 2 * 1px) calc(var(--size) / -2 * 1px) currentColor,
    inset calc(var(--size) * 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 3 * 1px) calc(var(--size) * -6 * 1px) hotpink,
    0 0 10px -5px white,
    0 0 12px -3px currentColor,
    0 0 30px -10px currentColor;
}

.herocontent .geometric div {
  --time: 1000ms;
  -webkit-animation: geometric-hover 2000ms ease-in-out infinite;
  -o-animation: geometric-hover 2000ms ease-in-out infinite;
  -ms-animation: geometric-hover 2000ms ease-in-out infinite;
  -moz-animation: geometric-hover 2000ms ease-in-out infinite;
  animation: geometric-hover 2000ms ease-in-out infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
  --box: 0 0 4px 0 currentColor, 0 0 40px 4px currentColor;
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
  background-color: hsla(0, 0%, 100%, 0.7);
  pointer-events: none; /*Otherwise exitItem targets the wrong item*/
}
.herocontent .geometric div > span::before,
.herocontent .geometric div > span::after {
  --dot-step-angle: 90deg;
  content: '';
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: var(--color);
  top: calc(50% + (sin(45deg + var(--angle)) * var(--radius)) * 0.6);
  left: calc(50% + (cos(45deg + var(--angle)) * var(--radius)) * 0.6);
  transform: translate(-50%, -50%);
}
.light .herocontent .geometric div > span::before,
.light .herocontent .geometric div > span::after {
  background-color: currentColor;
}
.herocontent .geometric div > span::before {
  --angle: calc(var(--number, 0) * var(--dot-step-angle));
  --radius: calc(50% + 40%);
}
.herocontent .geometric div > span::after {
  --angle: calc(var(--number, 0) * var(--dot-step-angle) - 180deg);
  --radius: calc(50% + 25%);
}
.herocontent .circles {
  height: var(--height);
  width: var(--width);
  animation: circles-shrink-into-nothing 12000ms ease-in-out forwards;
  animation-delay: 0ms;
  animation-play-state: paused;
}
.herocontent .circles:hover,
.herocontent .circles:focus,
.herocontent .circles:focus-visible {
  animation-play-state: running;
}

.herocontent .circles div {
  --time: 2000ms;
  --deg1: calc(var(--idx, 3) * 3deg - 0deg);
  --deg2: calc(var(--idx, 3) * 3deg - 360deg);
  -webkit-animation: circles-hover 11000ms linear infinite reverse;
  -o-animation: circles-hover 11000ms linear infinite reverse;
  -ms-animation: circles-hover 11000ms linear infinite reverse;
  -moz-animation: circles-hover 11000ms linear infinite reverse;
  animation: circles-hover 11000ms linear infinite reverse;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
  animation-delay: calc(calc(1 + var(--idx, 0)) * -1000ms);
  --box: 0 0 4px 0 currentColor, 0 0 40px 4px currentColor;
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
  background-color: hsla(0, 0%, 100%, 0.7);
  pointer-events: none; /*Otherwise exitItem targets the wrong item*/
}
.herocontent .circles,
.herocontent .circles div,
.herocontent .circles div > span {
  border-radius: 50%;
}
.herocontent .circles div > span {
  --dot-size: 20%;
  --dot-step-angle: 30deg;
  /* index is provided inline via var(--number) (0..3) */
  --dot-base-angle: calc(var(--number, 0) * var(--dot-step-angle));
  /* keep dots positioned outside the span edge */
  --dot-radius: calc(50% + (var(--dot-size) * 2));
}
.herocontent .circles div > span::before,
.herocontent .circles div > span::after {
  content: '';
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background-color: var(--color);
  top: calc(50% + (sin(var(--dot-angle)) * var(--dot-radius)) * 2);
  left: calc(50% + (cos(var(--dot-angle)) * var(--dot-radius)) * 2);
  transform: translate(-50%, -50%);
}
.light .herocontent .circles div > span::before,
.light .herocontent .circles div > span::after {
  background-color: currentColor;
}
.herocontent .circles div > span::before {
  --dot-angle: var(--dot-base-angle);
}
.herocontent .circles div > span::after {
  --dot-angle: calc(var(--dot-base-angle) - 115deg);
}

.herocontent .geometric span,
.herocontent .circles div > span {
  background-color: currentColor;
}
.herocontent .geometric:hover,
.herocontent .geometric:focus,
.herocontent .circles:hover,
.herocontent .circles:focus {
  cursor: pointer;
}
.herocontent .note {
  width: var(--note-head, 40px);
  height: var(--note-head, 40px);
}
.herocontent .note div {
  --time: 1000ms;
  -webkit-animation: note-hover 2000ms ease-in-out infinite;
  -o-animation: note-hover 2000ms ease-in-out infinite;
  -ms-animation: note-hover 2000ms ease-in-out infinite;
  -moz-animation: note-hover 2000ms ease-in-out infinite;
  animation: note-hover 2000ms ease-in-out infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
  --box: 0 0 4px 0 currentColor, 0 0 40px 4px currentColor;
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
  background-color: hsla(0, 0%, 100%, 0.7);
  pointer-events: none; /*Otherwise exitItem targets the wrong item*/
}
.herocontent .note div::before {
  position: absolute;
  content: '';
  width: 12%;
  z-index: -1;
  opacity: 0.3;
  height: 240%;
  background-image: linear-gradient(0deg, transparent 0%, white 20%, white 80%, transparent 100%);
  transition-property: border-radius, bottom, background-position, left;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.herocontent .note.above div::before {
  border-radius: 0 200% 3px 3px;
  bottom: -180%;
  left: 0;
}
.herocontent .note.below div::before {
  border-radius: 3px 3px 0 200%;
  bottom: 40%;
  left: calc(100% - 6px);
}
.light .herocontent .note div::before {
  opacity: 0.5;
  background-image: linear-gradient(0deg, transparent 0%, currentColor 20%, currentColor 80%, transparent 100%);
}
.herocontent .note span {
  background: currentColor;
  transform-origin: 100% 30%;
}
.herocontent .note.above span {
  transform-origin: 0 70%;
}
.herocontent .geometric:hover div,
.herocontent .geometric:focus div,
.herocontent .geometric.active div,
.herocontent .circles:hover div,
.herocontent .circles:focus div,
.herocontent .circles.active div,
.herocontent .bubbles:hover,
.herocontent .bubbles:focus,
.herocontent .item.active,
.herocontent .eyes:hover,
.herocontent .eyes:focus,
.herocontent .jewel:hover,
.herocontent .jewel:focus,
.herocontent .note:hover,
.herocontent .note:focus {
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.herocontent .jewel:focus-visible {
  outline: none;
}
.light .herocontent .geometric div,
.light .herocontent .circles div {
  --box: 0 0 30px 2px white;
  -webkit-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  box-shadow: var(--box);
  background-color: currentColor;
}
.light .herocontent .geometric span,
.light .herocontent .circles div > span {
  background-color: var(--color);
}
.light .herocontent .note div {
  --box: 0 0 30px 2px white;
  -webkit-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  box-shadow: var(--box);
  background-color: currentColor;
}
.light .herocontent .note span {
  background: var(--color);
}
.herocontent .bubbles:active,
.herocontent .geometric:active,
.herocontent .eyes:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.herocontent .bubbles span,
.herocontent .eyes span {
  pointer-events: none;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 40%;
  width: 40%;
}
.herocontent .eyes .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  transform: rotate(-80deg);
  pointer-events: none;
  -webkit-box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 9 * -1px) lime,
    0 0 4px 0 currentColor,
    0 0 9px -5px white,
    0 0 40px -10px currentColor,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) 0 white,
    0 0 10px -5px white;
  -o-box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 9 * -1px) lime,
    0 0 4px 0 currentColor,
    0 0 9px -5px white,
    0 0 40px -10px currentColor,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) 0 white,
    0 0 10px -5px white;
  -ms-box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 9 * -1px) lime,
    0 0 4px 0 currentColor,
    0 0 9px -5px white,
    0 0 40px -10px currentColor,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) 0 white,
    0 0 10px -5px white;
  -moz-box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 9 * -1px) lime,
    0 0 4px 0 currentColor,
    0 0 9px -5px white,
    0 0 40px -10px currentColor,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) 0 white,
    0 0 10px -5px white;
  box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 9 * -1px) lime,
    0 0 4px 0 currentColor,
    0 0 9px -5px white,
    0 0 40px -10px currentColor,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) 0 white,
    0 0 10px -5px white;
}
.light .herocontent .eyes .inner {
  -webkit-box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 7 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) lawngreen,
    0 0 10px 0 var(--color-primary-4),
    0 0 20px -10px white,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) -1px white,
    0 0 10px -5px white;
  -ms-box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 7 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) lawngreen,
    0 0 10px 0 var(--color-primary-4),
    0 0 20px -10px white,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) -1px white,
    0 0 10px -5px white;
  -moz-box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 7 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) lawngreen,
    0 0 10px 0 var(--color-primary-4),
    0 0 20px -10px white,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) -1px white,
    0 0 10px -5px white;
  -o-box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 7 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) lawngreen,
    0 0 10px 0 var(--color-primary-4),
    0 0 20px -10px white,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) -1px white,
    0 0 10px -5px white;
  box-shadow:
    inset calc(var(--size) * 8 * 1px) calc(var(--size) / 4 * -1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 7 * -1px) hotpink,
    inset calc(var(--size) * 8 * -1px) calc(var(--size) / 4 * 1px) calc(var(--size) * 4 * 1px) calc(var(--size) * 8 * -1px) lawngreen,
    0 0 10px 0 var(--color-primary-4),
    0 0 20px -10px white,
    inset calc(var(--size) * 1px) 0 calc(var(--size) * 3 * 1px) 0 currentColor,
    inset calc(var(--size) * -1px) 0 calc(var(--size) * 3 * 1px) -1px white,
    0 0 10px -5px white;
}
.herocontent .eyes .inner::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: currentColor;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.4;
  --box: 0 0 calc(var(--s) / 8) 1px currentColor;
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}
.herocontent .eyes .inner::after {
  content: '';
  position: absolute;
  width: 5%;
  height: 5%;
  top: 50%;
  left: 70%;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.3;
  --box: 0 0 calc(var(--s) / 4) white;
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
  transition-property: left;
  transition-timing-function: ease-in-out;
}
.herocontent .eyes:hover .inner::after,
.herocontent .eyes:focus .inner::after {
  left: 50%;
}
.herocontent .eyes span {
  width: 100%;
  height: 100%;

  overflow: hidden;
  border-radius: 50%;
}

.herocontent .bubbles span::before,
.herocontent .bubbles span::after,
.herocontent .eyes span::before {
  content: '';
  position: absolute;
  background-color: white;
  opacity: 0.2;
  border-radius: 80% 50%;
  --box: 0 0 4px 0 white, 0 0 6px -2px white;
  -webkit-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  box-shadow: var(--box);
}

.light .herocontent .bubbles span::before,
.light .herocontent .bubbles span::after,
.light .herocontent .eyes span::before {
  background-color: white;
  opacity: 0.8;
}
.herocontent .bubbles span::before {
  bottom: 35%;
  right: 20%;
  width: clamp(5px, 20%, 30px);
  height: clamp(5px, 20%, 30px);
}
.herocontent .bubbles span::after {
  bottom: 15%;
  right: 45%;
  width: clamp(2px, 10%, 10px);
  height: clamp(2px, 10%, 10px);
  border-radius: 50%;
}
.herocontent .eyes span::before,
.herocontent .eyes span::after {
  transition-property: transform, border-radius;
}
.herocontent .eyes .inner::after,
.herocontent .eyes span::before,
.herocontent .eyes span::after {
  /* eye-open */
  transition-timing-function: ease-in-out;
  transition-duration: 900ms;
  transition-delay: 800ms;
}
.herocontent .eyes span::before {
  --color: white;
  background-color: var(--color);
  top: 40%;
  left: 15%;
  width: clamp(5px, 20%, 30px);
  height: clamp(5px, 20%, 30px);
  border-radius: 50% 90%;
  opacity: 0.6;
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
  --box: 0 0 calc(var(--s) / 10) 2px var(--color);
  -webkit-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  box-shadow: var(--box);
}
.light .herocontent .eyes span::before {
  opacity: 0.7;
}
.herocontent .eyes span::after {
  --color: black;
  content: '';
  position: absolute;
  background-color: transparent;
  top: 22%;
  left: -10%;
  width: 60%;
  height: 60%;
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.2;
  border-radius: 80% 50%;
  --box: 0 0 6px 0 var(--color), 0 0 6px -3px var(--color), inset 6px 8px 8px -5px black, -3px -4px 4px -2px black, -2px -3px 10px 2px white;
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}
.light .herocontent .eyes span::after {
  opacity: 0.16;
}
.herocontent .eyes:hover .inner::after,
.herocontent .eyes:focus .inner::after,
.herocontent .eyes:hover span::before,
.herocontent .eyes:focus span::before,
.herocontent .eyes:hover span::after,
.herocontent .eyes:focus span::after {
  transition-duration: 150ms;
  transition-delay: 0ms;
}
.herocontent .eyes:hover span::before,
.herocontent .eyes:focus span::before {
  -webkit-transform: translate(-90%, -10%) scale(0.001, 1);
  -o-transform: translate(-90%, -10%) scale(0.001, 1);
  -ms-transform: translate(-90%, -10%) scale(0.001, 1);
  -moz-transform: translate(-90%, -10%) scale(0.001, 1);
  transform: translate(-90%, -10%) scale(0.001, 1);
}
.herocontent .eyes:hover span::after,
.herocontent .eyes:focus span::after {
  -webkit-transform: rotate(90deg) translate(-9%, -0%) skewX(-70deg) scale(1, 0.01);
  -o-transform: rotate(90deg) translate(-9%, -0%) skewX(-70deg) scale(1, 0.01);
  -ms-transform: rotate(90deg) translate(-9%, -0%) skewX(-70deg) scale(1, 0.01);
  -moz-transform: rotate(90deg) translate(-9%, -0%) skewX(-70deg) scale(1, 0.01);
  transform: rotate(90deg) translate(-9%, -0%) skewX(-70deg) scale(1, 0.01);
}

.herocontent .geometric span,
.herocontent .circles div > span,
.herocontent .note span {
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation:
    scale var(--time) linear infinite,
    hide-opacity var(--time) cubic-bezier(0.28, 0.37, 0.88, 0.5) infinite;
  -o-animation:
    scale var(--time) linear infinite,
    hide-opacity var(--time) cubic-bezier(0.28, 0.37, 0.88, 0.5) infinite;
  -ms-animation:
    scale var(--time) linear infinite,
    hide-opacity var(--time) cubic-bezier(0.28, 0.37, 0.88, 0.5) infinite;
  -moz-animation:
    scale var(--time) linear infinite,
    hide-opacity var(--time) cubic-bezier(0.28, 0.37, 0.88, 0.5) infinite;
  animation:
    scale var(--time) linear infinite,
    hide-opacity var(--time) cubic-bezier(0.28, 0.37, 0.88, 0.5) infinite;
  -webkit-animation-delay: calc(calc(var(--number) + 1) * calc(var(--time) / -3.9));
  animation-delay: calc(calc(var(--number) + 1) * calc(var(--time) / -3.9));
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.herocontent .triangle span {
  border-style: solid;
  border-color: transparent;
  border-bottom-color: var(--color);
  pointer-events: none;
  opacity: 0;
  -webkit-animation:
    scale-over var(--time) linear infinite,
    hide-opacity var(--time) linear infinite;
  -o-animation:
    scale-over var(--time) linear infinite,
    hide-opacity var(--time) linear infinite;
  -ms-animation:
    scale-over var(--time) linear infinite,
    hide-opacity var(--time) linear infinite;
  -moz-animation:
    scale-over var(--time) linear infinite,
    hide-opacity var(--time) linear infinite;
  animation:
    scale-over var(--time) linear infinite,
    hide-opacity var(--time) linear infinite;
  -webkit-animation-delay: calc(calc(var(--number) + 1) * calc(var(--time) / -3.9));
  -o-animation-delay: calc(calc(var(--number) + 1) * calc(var(--time) / -3.9));
  -ms-animation-delay: calc(calc(var(--number) + 1) * calc(var(--time) / -3.9));
  -moz-animation-delay: calc(calc(var(--number) + 1) * calc(var(--time) / -3.9));
  animation-delay: calc(calc(var(--number) + 1) * calc(var(--time) / -4));
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.light .herocontent .triangle span {
  border-bottom-color: var(--color2);
}
.herocontent .geometric:hover span,
.herocontent .geometric:focus span,
.herocontent .circles:hover span,
.herocontent .circles:focus span,
.herocontent .triangle:hover span,
.herocontent .triangle:focus span,
.herocontent .note:hover span,
.herocontent .note:focus span {
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.geometric.exitItem,
.note.exitItem {
  -webkit-animation: geometric-hide 400ms ease-in forwards;
  -o-animation: geometric-hide 400ms ease-in forwards;
  -ms-animation: geometric-hide 400ms ease-in forwards;
  -moz-animation: geometric-hide 400ms ease-in forwards;
  animation: geometric-hide 400ms ease-in forwards;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none;
}

.herocontent .triangle.exitItem {
  -webkit-animation: hide-triangle 300ms ease-in forwards;
  -o-animation: hide-triangle 300ms ease-in forwards;
  -ms-animation: hide-triangle 300ms ease-in forwards;
  -moz-animation: hide-triangle 300ms ease-in forwards;
  animation: hide-triangle 300ms ease-in forwards;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none;
}

.herocontent li.jewel.exitItem,
.herocontent li.jewel.exitItem::before {
  opacity: 0;
  filter: contrast(150%) brightness(600%);
  pointer-events: none;
}

.herocontent .portfolio.exitItem {
  -webkit-animation: hide-shrink 300ms ease-in forwards;
  -o-animation: hide-shrink 300ms ease-in forwards;
  -ms-animation: hide-shrink 300ms ease-in forwards;
  -moz-animation: hide-shrink 300ms ease-in forwards;
  animation: hide-shrink 300ms ease-in forwards;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  pointer-events: none;
}

.circles.exitItem,
.bubbles.exitItem,
.eyes.exitItem {
  -webkit-animation: hide-grow 100ms ease-in forwards;
  -o-animation: hide-grow 100ms ease-in forwards;
  -ms-animation: hide-grow 100ms ease-in forwards;
  -moz-animation: hide-grow 100ms ease-in forwards;
  animation: hide-grow 100ms ease-in forwards;
  pointer-events: none;
}

@keyframes box-shadow {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color);
    -o-box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color);
    -ms-box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color);
    -moz-box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color);
    box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color);
  }
  10% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color);
    -o-box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color);
    -ms-box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color);
    -moz-box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color);
    box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color);
  }
}
@keyframes box-shadow-light {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color2);
    -o-box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color2);
    -ms-box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color2);
    -moz-box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color2);
    box-shadow: 0 calc(0.2vw * var(--s)) calc(0.1vw * var(--s)) calc(-0.1vw * var(--s)) var(--color2);
  }
  10% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    -webkit-box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color2);
    -o-box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color2);
    -ms-box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color2);
    -moz-box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color2);
    box-shadow: 0 calc(1.6vw * var(--s)) calc(1.3vw * var(--s)) calc(-0.9vw * var(--s)) var(--color2);
  }
}
@keyframes hide-triangle {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(var(--rotate)) scale(0);
    -moz-transform: rotate(var(--rotate)) scale(0);
    -ms-transform: rotate(var(--rotate)) scale(0);
    -o-transform: rotate(var(--rotate)) scale(0);
    transform: rotate(var(--rotate)) scale(0);
  }
}

@keyframes rotate-jewel {
  0% {
    -webkit-transform: rotate(var(--rotate2)) scale(1);
    -moz-transform: rotate(var(--rotate2)) scale(1);
    -ms-transform: rotate(var(--rotate2)) scale(1);
    -o-transform: rotate(var(--rotate2)) scale(1);
    transform: rotate(var(--rotate2)) scale(1);
  }
  100% {
    -webkit-transform: rotate(calc(360deg + var(--rotate2))) scale(1);
    -moz-transform: rotate(calc(360deg + var(--rotate2))) scale(1);
    -ms-transform: rotate(calc(360deg + var(--rotate2))) scale(1);
    -o-transform: rotate(calc(360deg + var(--rotate2))) scale(1);
    transform: rotate(calc(360deg + var(--rotate2))) scale(1);
  }
}

@keyframes hide-grow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes hide-shrink {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes hide-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(calc(360deg + 45deg));
    -o-transform: rotate(calc(360deg + 45deg));
    -ms-transform: rotate(calc(360deg + 45deg));
    -moz-transform: rotate(calc(360deg + 45deg));
    transform: rotate(calc(360deg + 45deg));
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-over {
  0% {
    -webkit-transform: skewY(13deg) scale(0);
    -o-transform: skewY(13deg) scale(0);
    -ms-transform: skewY(13deg) scale(0);
    -moz-transform: skewY(13deg) scale(0);
    transform: skewY(13deg) scale(0);
  }
  100% {
    -webkit-transform: skewY(1deg) scale(1.1);
    -o-transform: skewY(1deg) scale(1.1);
    -ms-transform: skewY(1deg) scale(1.1);
    -moz-transform: skewY(1deg) scale(1.1);
    transform: skewY(1deg) scale(1.2, 1.1);
  }
}
@keyframes geometric-hide {
  0% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
  40% {
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes geometric-hover {
  0%,
  100% {
    -webkit-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
    -o-transform: rotate(45deg) scale(1.2);
    -ms-transform: rotate(45deg) scale(1.2);
    -moz-transform: rotate(45deg) scale(1.2);
    transform: rotate(45deg) scale(1.2);
  }
}
@keyframes circles-hover {
  0% {
    -webkit-transform: rotate(var(--deg1));
    -o-transform: rotate(var(--deg1));
    -ms-transform: rotate(var(--deg1));
    -moz-transform: rotate(var(--deg1));
    transform: rotate(var(--deg1));
  }
  100% {
    -webkit-transform: rotate(var(--deg2));
    -o-transform: rotate(var(--deg2));
    -ms-transform: rotate(var(--deg2));
    -moz-transform: rotate(var(--deg2));
    transform: rotate(var(--deg2));
  }
}
@keyframes circles-shrink-into-nothing {
  0% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.15);
    -o-transform: scale(0.15);
    -ms-transform: scale(0.15);
    -moz-transform: scale(0.15);
    transform: scale(0.15);
    opacity: 0;
    display: none;
  }
}
@keyframes note-hover {
  0%,
  100% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes skewWobble {
  0%,
  100% {
    -webkit-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  25% {
    -webkit-transform: skewX(2.4deg);
    -o-transform: skewX(2.4deg);
    -ms-transform: skewX(2.4deg);
    -moz-transform: skewX(2.4deg);
    transform: skewX(2.4deg);
  }
  75% {
    -webkit-transform: skewX(-2.4deg);
    -o-transform: skewX(-2.4deg);
    -ms-transform: skewX(-2.4deg);
    -moz-transform: skewX(-2.4deg);
    transform: skewX(-2.4deg);
  }
}
@keyframes updown {
  0%,
  100% {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes entertop {
  0%,
  100% {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes enterright {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}
@keyframes enterbottom {
  0%,
  100% {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes enterleft {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
}
.herocontent {
  position: absolute;
  top: 0;
  left: 0;
  min-width: calc(100vw + 1px - var(--scrollbar_width));
  margin-left: calc(50% - 50vw + calc(var(--scrollbar_width) / 2));
}

.herocontent {
  cursor: pointer;
}
.herocontent.blob li {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.herocontent.blob * {
  pointer-events: all;
}
.herocontent .portfolio:hover,
.herocontent .portfolio:focus {
  outline: white solid 4px;
  outline-offset: -3px;
}
.herocontent .portfolio:active,
.herocontent .portfolio:focus,
.herocontent .portfolio.drag {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.bottom {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
  width: 100%;
  right: -0.5rem;
  height: 4em;
  max-width: 1200px;
  margin: 0 auto;
  pointer-events: none;
  padding-top: clamp(1px, 20vh, 200px);
}

.bottom button.rand:hover span,
.bottom button.rand:focus span {
  text-decoration: line-through;
}

.bottom button span:first-of-type::after {
  content: attr(data-instructions);
  position: absolute;
  top: -3rem;
  right: 0.4rem;
  width: clamp(4rem, 50vw, 400px);
  text-align: right;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-delay: 0s;
  z-index: 6;
  padding: 0.4em 0.6em 0.4em;
  background: linear-gradient(90deg, transparent 0%, var(--color-primary-1) 10%);
  pointer-events: none;
}
.hero .bottom button:hover span:first-of-type::after {
  opacity: 1;
  transition-delay: 500ms;
}
@media (min-width: 200px) {
  .bottom {
    right: 0;
  }
  .bottom2 {
    right: clamp(100px, 10vw, 200px);
    width: calc(100% - var(--scrollbar_width) - 6rem);
  }
}
@media (min-width: 300px) {
  .bottom2 {
    left: unset;
    width: calc(100% - var(--scrollbar_width) - 10rem);
    right: clamp(100px, 20vw, 300px);
  }
}
@media (min-width: 400px) {
  .bottom button span:first-of-type::after {
    background: linear-gradient(90deg, transparent 0%, var(--color-primary-1) 70%, var(--color-primary-1) 98%, transparent);
  }
}
/* .portfolio .bottom::after,
.blob .bottom::after,
.draganddrop .bottom::after {
  content: 'Try dragging the blobs';
} */
.bottom button {
  position: relative;
  pointer-events: auto;
  background: none;
  border: none;
  outline: 0;
  line-height: 2;
  padding: 0 1em;
  -webkit-text-shadow:
    1px 1px 1px var(--color-primary-2),
    0 0 1em var(--color-primary-2),
    0 0 0.3em var(--color-primary-2);
  -moz-text-shadow:
    1px 1px 1px var(--color-primary-2),
    0 0 1em var(--color-primary-2),
    0 0 0.3em var(--color-primary-2);
  -ms-text-shadow:
    1px 1px 1px var(--color-primary-2),
    0 0 1em var(--color-primary-2),
    0 0 0.3em var(--color-primary-2);
  -o-text-shadow:
    1px 1px 1px var(--color-primary-2),
    0 0 1em var(--color-primary-2),
    0 0 0.3em var(--color-primary-2);
  text-shadow:
    1px 1px 1px var(--color-primary-2),
    0 0 1em var(--color-primary-2),
    0 0 0.3em var(--color-primary-2);
}
.bottom button:hover,
.bottom button:focus {
  outline: 0;
}
.bottom button span:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.5em 1.5em;
}
.bottom button::before,
.bottom button::after,
.bottom button span:last-of-type:before,
.bottom button span:last-of-type::after {
  --time: 500ms;
  content: '';
  position: absolute;
  background-color: currentColor;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: var(--time);
}
.bottom button::before,
.bottom button::after {
  height: 0.14em;
  left: 0.5em;
  right: 0.5em;
  -webkit-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
}
.bottom button::before {
  top: 0;
  -webkit-transform-origin: left;
  -o-transform-origin: left;
  -ms-transform-origin: left;
  -moz-transform-origin: left;
  transform-origin: left;
}
.bottom button::after {
  bottom: 0;
  -webkit-transform-origin: right;
  -o-transform-origin: right;
  -ms-transform-origin: right;
  -moz-transform-origin: right;
  transform-origin: right;
}
.bottom button span:last-of-type:before,
.bottom button span:last-of-type::after {
  width: 0.14em;
  height: 100%;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -moz-transform: scaleY(0);
  transform: scaleY(0);
  top: 0;
  bottom: 0;
}
.bottom button span:last-of-type:before {
  -webkit-transform-origin: bottom;
  -o-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -moz-transform-origin: bottom;
  transform-origin: bottom;
  left: 0.5em;
}
.bottom button span:last-of-type::after {
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  right: 0.5em;
}
.bottom button:hover::before,
.bottom button:focus::before,
.bottom button:hover::after,
.bottom button:focus::after {
  -webkit-transform: scaleX(100%);
  -o-transform: scaleX(100%);
  -ms-transform: scaleX(100%);
  -moz-transform: scaleX(100%);
  transform: scaleX(100%);
}
.bottom button:hover span:last-of-type:before,
.bottom button:focus span:last-of-type:before,
.bottom button:hover span:last-of-type:after,
.bottom button:focus span:last-of-type:after {
  -webkit-transform: scaleY(100%);
  -o-transform: scaleY(100%);
  -ms-transform: scaleY(100%);
  -moz-transform: scaleY(100%);
  transform: scaleY(100%);
}

.bottom button:hover,
.bottom button:focus,
.bottom button:focus-visible {
  color: var(--color-primary-15);
}

.herocontent > .bubbles:hover {
  -webkit-filter: brightness(120%) contrast(110%);
  filter: brightness(120%) contrast(110%);
}
.herocontent > .bubbles:focus-visible {
  outline: none;
  -webkit-filter: brightness(180%) contrast(120%);
  filter: brightness(180%) contrast(120%);
}
.herocontent > .eyes:focus-visible {
  outline: none;
  -webkit-filter: brightness(130%) contrast(150%);
  filter: brightness(130%) contrast(150%);
}
.herocontent > .geometric:focus-visible,
.herocontent > .circles:focus-visible {
  outline: none;
  -webkit-filter: brightness(130%) contrast(150%);
  filter: brightness(130%) contrast(150%);
}

.herocontent.fadeIn,
.hero h1.fadeIn {
  -webkit-animation: fadeIn var(--time) ease-in-out forwards;
  -o-animation: fadeIn var(--time) ease-in-out forwards;
  -ms-animation: fadeIn var(--time) ease-in-out forwards;
  -moz-animation: fadeIn var(--time) ease-in-out forwards;
  animation: fadeIn var(--time) ease-in-out forwards;
}

.herocontent.fadeOut,
.hero h1.fadeOut {
  -webkit-animation: fadeIn var(--time) ease-in-out backwards;
  -o-animation: fadeIn var(--time) ease-in-out backwards;
  -ms-animation: fadeIn var(--time) ease-in-out backwards;
  -moz-animation: fadeIn var(--time) ease-in-out backwards;
  animation: fadeIn var(--time) ease-in-out backwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Hero visibility transitions for page changes */
.header-visible,
.herocontent.items-visible {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.header-hidden,
.herocontent.items-hidden {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.herocontent.items-visible li {
  opacity: inherit;
}

.herocontent.items-hidden li {
  opacity: 0;
}
