.color-container {
  overflow: visible;
  background: linear-gradient(
    0deg,
    transparent 0%,
    black 5%,
    black 92%,
    transparent 100%
  );
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20em 0.5em 8em;
  max-width: 100vw;
  min-height: 120vh;
}
.light.color-container {
  background: linear-gradient(
    0deg,
    transparent 0%,
    white 8%,
    white 92%,
    transparent 100%
  );
}
.color-picker {
  --size: 4em;
  flex: 1 0 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}
.color-picker > input[type="color" i] {
  --clamp: clamp(30px, 10vw, var(--size));
  min-width: var(--clamp);
  width: var(--clamp);
  max-width: var(--clamp);
  min-height: var(--clamp);
  height: var(--clamp);
  max-height: var(--clamp);
  outline: 8px solid white;
  outline-offset: -8px;
  border-radius: 50%;
}
.light .color-picker > input[type="color" i] {
  outline: 10px solid black;
}
.color-picker > button {
  border-radius: 0 999px 999px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.2em 0.2em 0.6em;
}
.color-picker > button svg {
  width: 2em;
  height: 2em;
}
.width-wrap {
  margin: 2em auto 0;
}
.width-wrap,
.width-wrap > * {
  width: clamp(100px, 70vw, 400px);
}
.btn-wrap {
  width: clamp(100px, 70vw, 800px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}
#color-container .btn-wrap .mode-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 0.8em;
}
.btn-wrap button {
  border-radius: 999px;
}
#color-container .btn-wrap.export-wrap div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
#color-container .mode-container button {
  padding: 0.2em 0.4em 0.2em 0.6em;
}
#color-container .btn-wrap button.flat-left {
  border-radius: 0 999px 999px 0;
  padding: 0.2em 0.25em 0.2em 0.6em;
}
.btn-wrap svg {
  width: 2em;
  height: 2em;
}
.btn-wrap .mode-container svg {
  width: 1.4em;
  height: 1.4em;
}

.skip-arrow {
  font-size: 2em;
  line-height: 0.8;
}
.info-wrap ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  margin: 0 auto 3em;
  padding: 0;
  width: clamp(100px, 88vw, 600px);
  max-width: 88vw;
}
.info-wrap li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6em;
}
.info-wrap li span {
  flex: 0 1 77%;
}
.info-wrap li div {
  flex: 0 0 auto;
}
.mode-btn {
  padding: 0.4em;
}
.color-blocks {
  --size: 96vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  overflow-x: auto;
  overflow-y: visible;
  height: max-content;
  width: clamp(100px, max-content, var(--size));
  max-width: var(--size);
}
.color-blocks li ul li {
  border: 1px solid var(--color);
}
.color-blocks.drag li ul li {
  outline: 2px dashed black;
  outline-offset: -1px;
  border: 1px dashed white;
  cursor: grabbing;
}

.color-blocks.overflow {
  overflow-y: hidden;
}

.block-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 0;
  margin: 0;
}
.color-wrap,
.color-block {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.color-wrap,
.color-wrap ul,
.color-block {
  padding: 0;
  margin: 0;
}
.color-block {
  cursor: grab;
}
.color-block:active {
  cursor: grabbing;
}
#color-container .block-wrap button {
  cursor: pointer;
  padding: 0.3em 0.2em;
  width: 100%;
}

.compliance-indicators {
  position: absolute;
  top: 1em;
  left: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateX(-50%);
}
#color-container .indicator > .tooltip {
  top: calc(100% + var(--tooltip-offset) * 0.5) !important;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: var(--left);
  width: var(--width-full);
  height: calc(var(--width-full) * 0.015);
  border-radius: 0;
  background-color: var(--color);
  z-index: -1;
}

.indicator-aaa {
  position: relative;
  border-radius: 50%;
}
.indicator-null {
  position: relative;
}

.compliance-info * {
  font-size: inherit;
}

.toggle-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3em 1em;
  margin: 3em auto 1em;
  max-width: clamp(100px, 92%, 92vw);
}
.toggle-controls > div {
  display: flex;
  flex-flow: column nowrap;
  max-width: clamp(100px, 92%, 92vw);
  gap: 1em;
}
.color-edit-container,
.color-edit-container > .color-select,
.color-edit-container > .color-select > * {
  width: 99%;
  max-width: 99%;
  font-size: clamp(0.8rem, calc(var(--font-size) * 0.8), 2rem);
}
.color-edit-container > .color-select {
  gap: 0.2em;
  padding-top: 0.5em;
}
.color-edit-container > .color-select > div {
  flex-flow: row nowrap;
  background: linear-gradient(4deg, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 3%) 100%);
  background-size: var(--bg-size);
  background-position: 50% 3%;
  border-bottom-color: gray;
  margin: 0;
}
.color-edit-container > .color-select > div > div {
  border-top-color: gray;
}
.light .color-edit-container > .color-select > div {
  background: linear-gradient(4deg, hsl(0, 0%, 70%) 0%, hsl(0, 0%, 90%) 100%);
  background-size: var(--bg-size);
  background-position: 50% 3%;
}
.color-edit-container > .color-select > div > span {
  max-width: calc(100% - 3em);
}
.mode-container.color-edit-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0;
}
.mode-container > .color-select {
  max-width: 12rem;
  margin: 0;
  padding: 0;
}
.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
.form > input {
  padding-left: 0.2em;
  min-width: 92%;
  margin: 0.3em auto 0;
}
#color-container .form > button.color-format-submit,
#color-container .color-wrap button.remove {
  padding: 0.3em 0.2em;
  width: 100%;
}
#color-container .color-wrap button.remove {
  outline: gray solid 1px;
}
.color-name > span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  min-height: 2em;
  line-height: 1;
}
.inputs > label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  color: var(--color-primary-20);
}
.inputs > label > span {
  white-space: nowrap;
  width: 1em;
}
.inputs > label input {
  min-width: calc(100% - 2em);
}
.inputs.hex-input > label {
  flex-flow: column nowrap;
  margin-top: 0.3em;
  gap: 0.1em;
}
.inputs.hex-input > label > span {
  align-self: flex-start;
  margin-left: 0.5em;
}
@media (min-width: 300px) {
  .color-edit-container > .color-select > div > span {
    max-width: 100%;
  }
}
