.cloud-wrap {
  position: relative;
  min-width: calc(100vw - var(--scrollbar_width) - var(--padd) * 2);
  max-width: calc(100vw - var(--scrollbar_width) - var(--padd) * 2);
  overflow-x: auto;
  margin-top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.cloud {
  margin: 0 auto;
}
.word:hover,
.word:focus {
  outline: 2px solid var(--color-primary-20);
  border-radius: 0.2em;
}
@media (min-width: 600px) {
  .cloud-wrap {
    min-width: calc(100vw - var(--scrollbar_width) + var(--padding) * 2);
    margin-left: calc(var(--padding) * -1);
  }
}
