.form > * {
  --width: 1em;
  display: flex;
  max-width: 100%;
  padding: 0;
  gap: 2%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--radius-medium);
  border: 0;
}
.form > * > * {
  flex: 1 1 80%;
}
.form .list-wrap {
  margin-bottom: 1rem;
}
.todo-input-area {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.5rem;
}
button.submit-todo {
  margin-left: auto;
}
button.clear-completed {
  margin: 0;
}
button.clear-completed,
button.submit-todo {
  padding: 0.4rem 1rem;
  gap: 0.3em;
  margin-bottom: 0;
}
.todo-ul .btn-wrap button.edit {
  border-radius: 1em;
  padding: 0.3em 0.33em;
  border-width: 2px;
}
button.cancel,
button.cancel:hover,
button.cancel:focus {
  margin: 0 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  padding: 0.6rem 1rem;
  align-self: center;
}
button.cancel svg {
  margin: 0.05em 0 -0.05em 0;
}
.todo-modal {
  --height: 90vh;
  --width: 900px;
}
.todo-modal h2 {
  margin: 0 0 0.4em 0;
  text-align: left;
  width: 100%;
  max-width: var(--width);
}
.todo-ul {
  --width: 1em;
  color: var(--color-primary-20);
  list-style: none;
  padding: 0;
}
.todo-ul > li {
  margin-bottom: calc(var(--width));
  position: relative;
  border-bottom: solid 1px var(--color-primary-10);
  padding-bottom: calc(var(--width) / 2);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.4em;
}
.todo-ul > li .drag-handle {
  cursor: grab;
  flex: 0 1 1rem;
  font-size: 1.8em;
  display: inline-block;
  padding: 0.2em 0.1em;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  color: var(--color-primary-20);
  margin: -0.15em 0 0.15em;
}
.todo-ul > li .drag-handle:active {
  cursor: grabbing;
}
.todo-ul > li .drag-handle:hover,
.todo-ul > li .drag-handle:focus,
.todo-ul > li .drag-handle:focus-visible {
  border: 2px solid var(--color-primary-10);
  border-radius: var(--radius-small);
  color: var(--color-primary-20);
}

.move-menu {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  background: var(--color-primary-1);
  border: 2px solid var(--color-primary-10);
  border-radius: var(--radius-small);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.move-button {
  display: flex;
  align-items: center;
  gap: 0.1em;
  padding: 0.5em;
  background: transparent;
  border: 1px solid var(--color-primary-10);
  border-radius: var(--radius-small);
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.move-button svg {
  font-size: 1.5em;
}
.move-button.move-up svg {
  margin-bottom: -0.1em;
}
.move-button.move-down svg {
  margin-top: -0.1em;
}
.move-button span {
  flex: 1 0 100%;
}

.move-button:hover:not(:disabled),
.move-button:focus:not(:disabled) {
  background: var(--color-primary-10);
  color: var(--color-bg);
}

.move-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.todo-ul > li > .label {
  --margintop: 0.8em;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 0.6em;
  max-width: calc(100%);
  margin-top: calc(var(--margintop) * 0.6);
  margin-left: 0;
}
.todo-ul > li > .label > span {
  display: inline-block;
  margin-top: 0;
  cursor: text;
  min-width: 100%;
  max-width: 100%;
}
.todo-ul > li > .label .checkbox-wrap {
  align-self: flex-start;
  margin-left: 0;
  margin-right: 0.6em;
  margin-top: calc(var(--margintop) * 0.4);
}

.todo-ul > li .btn-wrap {
  display: flex;
  flex-flow: row wrap;
  gap: 0.6em;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 100%;
  min-width: 100%;
}
.todo-ul > li .btn-wrap button {
  padding: 0.4rem 0.6rem;
  flex: 1 0 max-content;
  max-width: max-content;
  margin: 0;
}
.todo-ul > li .btn-wrap > b {
  font-size: 1.7em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.todo-ul > li .btn-wrap > b.cat {
  border-radius: 50%;
  color: var(--color-gray-9);
  font-size: 2em;
  margin: 0;
}
.todo-ul .btn-wrap > b.cat.bg {
  color: var(--color-primary-1);
  background-color: var(--color-gray-9);
  border: solid 2px var(--color-gray-9);
  outline-offset: -1px;
  margin: 0 0.1em 0 0.1em;
  border-radius: 50%;
  padding: 0.1em;
}
.light .todo-ul b.cat.bg {
  color: var(--color-primary-4);
}
.todo-ul > li .btn-wrap > b.cat.bg svg {
  font-size: 0.55em;
}
.btn-wrap > b.high,
.btn-wrap > b.medium,
.btn-wrap > b.low {
  position: relative;
}
.btn-wrap > b.high svg {
  color: tomato;
  margin: -0.05rem 0.1em 0.05rem 0.1em;
  font-size: 0.9em;
}
.light .btn-wrap > b.high svg {
  /* color: firebrick; */
  color: brown;
}
.btn-wrap > b.low svg {
  /* color: var(--color-primary-13); */
  color: Turquoise;
  transform: scale(1.05, 1);
  margin: 0.05rem 0 -0.05rem 0;
}
.light .btn-wrap > b.low svg {
  color: teal;
}
.btn-wrap > b.medium {
  margin: 0.02em 0.2em -0.02em 0.2em;
  color: var(--color-primary-1);
}
.btn-wrap > b.medium svg {
  font-size: 0.75em;
}
.btn-wrap > b.medium::before {
  content: '';
  position: absolute;
  top: -2%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: cadetblue; */
  background-color: burlywood;
  z-index: -1;
  transform: rotate(45deg);
  border-radius: 0.15em;
  --size: 0.03em;
}
.light .btn-wrap > b.medium::before {
  /* background-color: darkslategray; */
  background-color: saddlebrown;
}
.todo-ul > li .complete,
.todo-ul > li .complete + .more-info-wrap span {
  color: var(--color-gray-6);
  text-decoration: line-through 1px;
  background-color: transparent;
  outline: none;
  border: none;
}
.todo-ul > li:has(input:checked) .btn-wrap > b,
.todo-ul > li:has(input:checked) .btn-wrap > b.cat.bg,
.todo-ul > li:has(input:checked) .btn-wrap > b::before,
.todo-ul > li:has(input:checked) .btn-wrap > b.cat.bg::before,
.todo-ul > li:has(input:checked) .btn-wrap button {
  filter: grayscale(100%);
  opacity: 0.4;
}
.todo-ul > li:has(input:checked) .btn-wrap b.medium svg {
  fill: black;
}

.light .todo-ul > li:has(input:checked) .btn-wrap b.medium svg {
  fill: white;
}
.todo-ul > li:has(input:checked) .btn-wrap > b.cat.bg {
  border-color: var(--color-gray-5);
  background-color: var(--color-gray-5);
  color: black;
}
.todo-ul > li:has(input:checked) .btn-wrap > b.cat.bg > svg {
  fill: black;
}

.todo-ul > li .btn-wrap > .modify-todo:not(.closed) {
  flex: 1 0 100%;
  min-width: 100%;
}
.todo-ul > li .btn-wrap > .modify-todo > div {
  width: 100%;
  height: auto;
  overflow: visible;
  clip: auto;
  position: static;
  white-space: normal;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.todo-ul > li .btn-wrap > .modify-todo.closed > div {
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  white-space: nowrap;
}
.todo-ul > li .btn-wrap > .modify-todo {
  flex: 0 0 auto;
  margin: 0;
  max-width: max-content;
}
.todo-ul > li .btn-wrap > .modify-todo:not(.closed) {
  flex: 1 0 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 0.2em;
  align-items: flex-start;
  justify-content: space-between;
}
.todo-ul > li .btn-wrap button.delete {
  border-radius: 1em;
  padding: 0 0.4em 0;
  outline-offset: -1px;
  border-width: 2px;
}
.todo-ul > li .btn-wrap button.delete .delete-inner {
  font-size: 1.3em;
  margin: 0 0.05em 0.05em;
}
.todo-ul > li .btn-wrap button.delete:hover,
.todo-ul > li .btn-wrap button.delete:focus {
  outline: solid 2px red;
  outline-offset: -5px;
  border-color: red;
  border: solid 2px red;
}
.light .todo-ul > li .btn-wrap button.delete:hover,
.light .todo-ul > li .btn-wrap button.delete:focus {
  outline-color: tomato;
  border-color: red;
  background-position: 50% 98%;
}
.todo-ul > li .btn-wrap button.delete:focus-visible {
  outline: solid 2px red;
}
.left-to-do {
  font-size: 0.9em;
}
.todo-ul input[type='text' i] {
  width: 100%;
}

/* .todo-ul > li .checkbox-wrap input[type='checkbox' i]:checked {
  accent-color: var(--color-gray-2);
} */
.todo-ul > li .checkbox-wrap input[type='checkbox' i]:hover,
.todo-ul > li .checkbox-wrap input[type='checkbox' i]:focus {
  /* outline: -webkit-focus-ring-color auto 3px; */
  outline-color: currentColor;
  outline-style: solid;
  outline-width: 0.4em;
  pointer-events: none;
  outline-offset: -1px;
  cursor: pointer;
}

form.modify {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  max-width: var(--width);
}
.controls-wrap {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 4em 0 0;
}
.select {
  font-size: 0.85em;
  margin: 0;
}
form.modify > .select {
  margin: 0;
}
form.modify > .select .controls-wrap > .select,
.btn-wrap .select,
.btn-wrap label:not(:last-of-type),
.todo-input-area .select {
  min-width: 100%;
  max-width: 100%;
}
.more-info-wrap {
  margin: 0;
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 0.3em 0.6em;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.85em;
  opacity: 0.8;
  cursor: text;
}

/* .todo-ul > li > .btn-wrap .select:first-of-type {
  margin-left: auto;
} */
form.modify .fieldset {
  padding: 0;
  border: 0;
}
.fieldset legend {
  font-size: 0.9em;
  font-family: var(--text-family);
  margin: 0 0.5em 0.4em 0;
}
.fieldset.textarea legend {
  margin-bottom: 1em;
}
.fieldset legend:has(input:checked) {
  margin-bottom: 1em;
}
.fieldset,
.fieldset .deadline-inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  align-items: flex-start;
  justify-content: center;
}
.fieldset .deadline-inputs > div,
.fieldset .deadline-inputs label {
  font-size: 0.9em;
  width: 3.5em;
  max-width: 3.5em;
}
.fieldset.deadline-wrap {
  flex-flow: column nowrap;
}
.fieldset .deadline-inputs > div:last-of-type,
.fieldset .deadline-inputs > div:last-of-type label {
  width: 5em;
  max-width: 5em;
}
.deadline.today {
  font-weight: bold;
  outline: solid 2px var(--color-primary-20);
  outline-offset: -1px;
  border-radius: 3px;
  padding: 0.22em 0.2em 0.1em;
}
.deadline.overdue,
.warning {
  display: inline-flex;
  padding: 0.3em 0.2em 0.15em;
  font-weight: bold;
  color: tomato;
  background-color: black;
}
.light .deadline.overdue,
.light .warning {
  color: darkred;
  background-color: white;
  outline: tomato solid 2px;
  border-radius: 3px;
}
.filter-notification {
  font-size: 1rem;
  margin: 0.5em auto 0;
  text-align: center;
}
.filter-notification::before,
.filter-notification::after {
  color: red;
  font-size: 1.2em;
}
.filter-notification::before {
  content: '[ [ ';
  margin-right: 0.4em;
}
.filter-notification::after {
  content: ' ] ]';
  margin-left: 0.4em;
}
.small {
  font-size: 0.85rem;
  flex: 1 0 100%;
  width: 100%;
  text-align: left;
  margin-top: 0.4em;
  margin-bottom: 1rem;
}

.todo-ul > li .toggle-wrap .toggle {
  margin-top: 0.44em;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.todo-ul > li .toggle-wrap .toggle,
.todo-ul > li .toggle-wrap .toggle * {
  --height: 2.2em;
  --width: calc(var(--height) * 1.6);
}
@media (min-width: 200px) {
  .todo-ul > li .toggle-wrap .toggle {
    margin-top: 0.44em;
    margin-left: 0.2rem;
    margin-right: 0.4rem;
  }
  .todo-ul > li .toggle-wrap .toggle,
  .todo-ul > li .toggle-wrap .toggle * {
    --height: calc(2.2em * var(--responsive_scale, 1));
    --width: calc(var(--height) * 2 * var(--responsive_scale, 1));
  }
}
@media (min-width: 300px) {
  .left-to-do {
    font-size: 0.8em;
  }
}

@media (min-width: 400px) {
  form.modify {
    flex-flow: row wrap;
    gap: 2em 1em;
    align-items: flex-start;
    justify-content: flex-start;
  }
  form.modify,
  form.modify label,
  form.modify .textarea,
  form.modify .textarea textarea {
    width: 100%;
  }
  .select {
    font-size: 1em;
  }
  form.modify > .select .controls-wrap > .select,
  .controls-wrap .select,
  .btn-wrap .select,
  .btn-wrap label,
  .todo-input-area .select {
    min-width: 8em;
    max-width: 8em;
    margin: 0;
  }
  .controls-wrap .select.category-select,
  .todo-input-area .select.category-select,
  .btn-wrap .select.category-select,
  form.modify .select.category-select {
    min-width: 12em;
    max-width: 12em;
    margin: 0;
  }
}
@media (min-width: 500px) {
  .todo-ul > li {
    flex-flow: row wrap;
    gap: 0.2em;
  }
  .todo-ul > li > .label {
    margin-left: 0.6em;
    max-width: calc(100% - 7em);
  }
  .todo-ul > li > .label > span {
    margin-left: 0;
    max-width: calc(100% - 7em);
  }
}
@media (min-width: 600px) {
  .todo-ul > li {
    gap: 0.2em;
  }
  .todo-ul > li > .label {
    margin-left: 0.5em;
  }
} /*END media*/

.modify-todo.open {
  flex: 1 0 100%;
}
.todo-ul > li .btn-wrap.open {
  flex: 1 0 100%;
  min-width: 100%;
  padding-bottom: 0.6em;
}
@media (min-width: 700px) {
  .todo-ul > li > .label {
    margin-top: calc(var(--margintop) * 0.6);
    max-width: 100%;
    flex: 0 1 100%;
  }
  .todo-ul > li > .label .checkbox-wrap {
    margin-top: calc(var(--margintop) * 0.4);
    margin-bottom: auto;
  }
  .todo-ul > li .toggle-wrap .toggle,
  .todo-ul > li .toggle-wrap .toggle * {
    --height: 1.8em;
    --width: calc(var(--height) * 1.6);
  }
}
@media (min-width: 1000px) {
  .todo-ul > li {
    --btn-wrap-width: 10.2em;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 0.2em;
  }
  .todo-ul > li > .label {
    --margintop: 0.5em;
    margin-top: calc(var(--margintop) * 0.6);
    min-width: calc(100% - var(--btn-wrap-width) - 3em);
    max-width: calc(100% - var(--btn-wrap-width) - 3em);
    flex: 0 1 calc(100% - var(--btn-wrap-width) - 3em);
  }
  .todo-ul > li > .label .checkbox-wrap {
    margin-top: calc(var(--margintop) * 0.4);
  }
  .todo-ul > li .btn-wrap {
    min-width: var(--btn-wrap-width);
    max-width: var(--btn-wrap-width);
    flex: 0 0 var(--btn-wrap-width);
  }
}
