.colortextwrap {
  padding: 0 var(--page-padding);
  margin: 0 auto;
}
.colortextwrap > div {
  padding: 2em 4% 1.4em;
}
@media (min-width: 600px) {
  .colortextwrap > div {
    padding: 2em 8% 2em;
  }
} /*END media*/
.section h3 {
  font-size: clamp(var(--title-M), 4vw, var(--title-L));
  margin-top: 2em;
}
.linklist {
  font-size: 0.9em;
  flex-flow: column nowrap;
  gap: 1em;
  text-align: center;
}
@media (min-width: 600px) {
  .linklist {
    flex-flow: row wrap;
  }
} /*END media*/
.skills {
  text-align: center;
  max-width: 1200px;
}

.techwrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto 4em;
  gap: 1.5rem 3%;
}
.tech {
  --time: 400;
  position: relative;
  border-radius: var(--radius-small);
  -webkit-box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem black,
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -4rem var(--color),
    0.5rem 1rem 2rem -1.9rem var(--color),
    inset 2.5rem 2.5rem 1rem -2rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
  -o-box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem black,
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -4rem var(--color),
    0.5rem 1rem 2rem -1.9rem var(--color),
    inset 2.5rem 2.5rem 1rem -2rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
  -ms-box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem black,
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -4rem var(--color),
    0.5rem 1rem 2rem -1.9rem var(--color),
    inset 2.5rem 2.5rem 1rem -2rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
  -moz-box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem black,
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -4rem var(--color),
    0.5rem 1rem 2rem -1.9rem var(--color),
    inset 2.5rem 2.5rem 1rem -2rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
  box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem black,
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -4rem var(--color),
    0.5rem 1rem 2rem -1.9rem var(--color),
    inset 2.5rem 2.5rem 1rem -2rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
}
.light .tech {
  -webkit-box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem var(--color-primary-2),
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -5rem var(--color),
    0.5rem 1rem 2rem -1.5rem var(--color),
    inset 3rem 3rem 2rem -3.9rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
  -moz-box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem var(--color-primary-2),
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -5rem var(--color),
    0.5rem 1rem 2rem -1.5rem var(--color),
    inset 3rem 3rem 2rem -3.9rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
  -ms-box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem var(--color-primary-2),
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -5rem var(--color),
    0.5rem 1rem 2rem -1.5rem var(--color),
    inset 3rem 3rem 2rem -3.9rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
  -o-box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem var(--color-primary-2),
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -5rem var(--color),
    0.5rem 1rem 2rem -1.5rem var(--color),
    inset 3rem 3rem 2rem -3.9rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
  box-shadow:
    inset -0.8rem -0.8rem 2rem -2rem var(--color),
    inset -2rem -2rem 1.5rem -1.2rem var(--color-primary-2),
    inset -0.8rem -1.8rem 3rem -1.8rem var(--color),
    inset -2rem -2rem 4rem -5rem var(--color),
    0.5rem 1rem 2rem -1.5rem var(--color),
    inset 3rem 3rem 2rem -3.9rem black,
    inset 2rem 2rem 2rem -3rem var(--color);
}
.tech:has(.jelly) {
  -webkit-animation: jello 700ms linear;
  -ms-animation: jello 700ms linear;
  -o-animation: jello 700ms linear;
  -moz-animation: jello 700ms linear;
  animation: jello 700ms linear;
}
@keyframes jelly {
  25% {
    -webkit-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -o-transform: scale(0.9, 1.1);
    -moz-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    -ms-transform: scale(1.1, 0.9);
    -o-transform: scale(1.1, 0.9);
    -moz-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    -o-transform: scale(0.95, 1.05);
    -moz-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes jellobackup {
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    -ms-transform: skewX(-12.5deg) skewY(-12.5deg);
    -o-transform: skewX(-12.5deg) skewY(-12.5deg);
    -moz-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    -ms-transform: skewX(6.25deg) skewY(6.25deg);
    -o-transform: skewX(6.25deg) skewY(6.25deg);
    -moz-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    -ms-transform: skewX(-3.125deg) skewY(-3.125deg);
    -o-transform: skewX(-3.125deg) skewY(-3.125deg);
    -moz-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    -ms-transform: skewX(1.5625deg) skewY(1.5625deg);
    -o-transform: skewX(1.5625deg) skewY(1.5625deg);
    -moz-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -ms-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -o-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    -moz-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    -ms-transform: skewX(0.390625deg) skewY(0.390625deg);
    -o-transform: skewX(0.390625deg) skewY(0.390625deg);
    -moz-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    -ms-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    -o-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    -moz-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes jello {
  11.1% {
    -webkit-transform: skewX(1.5deg) skewY(1.5deg);
    -ms-transform: skewX(1.5deg) skewY(1.5deg);
    -o-transform: skewX(1.5deg) skewY(1.5deg);
    -moz-transform: skewX(1.5deg) skewY(1.5deg);
    transform: skewX(1.5deg) skewY(1.5deg);
  }
  22.2% {
    -webkit-transform: skewX(0deg) skewY(0deg);
    -ms-transform: skewX(0deg) skewY(0deg);
    -o-transform: skewX(0deg) skewY(0deg);
    -moz-transform: skewX(0deg) skewY(0deg);
    transform: skewX(0deg) skewY(0deg);
  }
  33.3% {
    -webkit-transform: skewX(-1.5deg) skewY(-1.5deg);
    -ms-transform: skewX(-1.5deg) skewY(-1.5deg);
    -o-transform: skewX(-1.5deg) skewY(-1.5deg);
    -moz-transform: skewX(-1.5deg) skewY(-1.5deg);
    transform: skewX(-1.5deg) skewY(-1.5deg);
  }
  44.4% {
    -webkit-transform: skewX(1.2deg) skewY(1.2deg);
    -ms-transform: skewX(1.2deg) skewY(1.2deg);
    -o-transform: skewX(1.2deg) skewY(1.2deg);
    -moz-transform: skewX(1.2deg) skewY(1.2deg);
    transform: skewX(1.2deg) skewY(1.2deg);
  }
  55.5% {
    -webkit-transform: skewX(-0.7deg) skewY(-0.7deg);
    -ms-transform: skewX(-0.7deg) skewY(-0.7deg);
    -o-transform: skewX(-0.7deg) skewY(-0.7deg);
    -moz-transform: skewX(-0.7deg) skewY(-0.7deg);
    transform: skewX(-0.7deg) skewY(-0.7deg);
  }
  66.6% {
    -webkit-transform: skewX(0.4deg) skewY(0.4deg);
    -ms-transform: skewX(0.4deg) skewY(0.4deg);
    -o-transform: skewX(0.4deg) skewY(0.4deg);
    -moz-transform: skewX(0.4deg) skewY(0.4deg);
    transform: skewX(0.4deg) skewY(0.4deg);
  }
  77.7% {
    -webkit-transform: skewX(-0.2deg) skewY(-0.2deg);
    -ms-transform: skewX(-0.2deg) skewY(-0.2deg);
    -o-transform: skewX(-0.2deg) skewY(-0.2deg);
    -moz-transform: skewX(-0.2deg) skewY(-0.2deg);
    transform: skewX(-0.2deg) skewY(-0.2deg);
  }
  88.8% {
    -webkit-transform: skewX(0.3deg) skewY(0.3deg);
    -ms-transform: skewX(0.3deg) skewY(0.3deg);
    -o-transform: skewX(0.3deg) skewY(0.3deg);
    -moz-transform: skewX(0.3deg) skewY(0.3deg);
    transform: skewX(0.3deg) skewY(0.3deg);
  }
}
.tech,
.tech > div {
  --size: 10em;
  width: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  max-height: var(--size);
}
.tech:nth-child(odd) {
  margin: 0 -4vw 0 4vw;
}
.tech:nth-child(even) {
  margin: 0 4vw 0 -4vw;
}
.tech:hover,
.tech:hover > div {
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.tech > div {
  padding: 1.7em 1.3em 1.2em;
  -webkit-animation-delay: calc(var(--time) * 0.5ms);
  -ms-animation-delay: calc(var(--time) * 0.5ms);
  -o-animation-delay: calc(var(--time) * 0.5ms);
  -moz-animation-delay: calc(var(--time) * 0.5ms);
  animation-delay: calc(var(--time) * -0.5ms);
  -webkit-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.tech::before {
  content: '';
  position: absolute;
}
.tech::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
  background-color: var(--color);
}
.light .tech::before {
  opacity: 0.2;
}

.tech h5 {
  font-size: var(--title-M);
  margin: 0;
  position: relative;
}
.tech > div::before,
.tech > div::after {
  content: '';
  position: absolute;
  top: 2.8rem;
  left: 1.7rem;
  width: 0.4rem;
  height: 0.5rem;
  opacity: 0.1;
  background-color: white;
  border-radius: 60% 40% 60% 39% /56% 40% 60% 42%;
  transition: border-radius 0.5s ease-in-out;
}
.light .tech > div::before,
.light .tech > div::after {
  background-color: white;
  opacity: 0.7;
}
.tech > div::after {
  top: 1.5rem;
  left: 2rem;
  width: 1rem;
  height: 1rem;
}
.tech p {
  font-size: 0.7rem;
  opacity: 0.8;
  margin: 0 0 1em;
}
.icon {
  font-size: 2rem;
}
.tech h5,
.tech svg {
  fill: var(--color);
  color: var(--color);
}

.tech,
.tech::before {
  border-radius: 60% 50% 49% 60% /66% 55% 60% 48%;
  transition: border-radius 0.5s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.tech:hover,
.tech:hover::before {
  border-radius: 60%;
}
.tech.css,
.tech.css::before {
  border-radius: 60% 50% 49% 60% /56% 45% 60% 48%;
}
.tech.css:hover,
.tech.css:hover::before {
  border-radius: 60%;
}
.tech.javascript,
.tech.javascript::before {
  border-radius: 60% 50% 60% 49% /60% 45% 60% 45%;
}
.tech.javascript:hover,
.tech.javascript:hover::before {
  border-radius: 60%;
}
.tech.php,
.tech.php::before {
  border-radius: 60% 50% 49% 60% /66% 55% 60% 48%;
}
.tech.php:hover,
.tech.php:hover::before {
  border-radius: 60%;
}
.tech.typescript,
.tech.typescript::before {
  border-radius: 60% 50% 60% 49% /60% 45% 60% 45%;
}
.tech.typescript:hover,
.tech.typescript:hover::before {
  border-radius: 60%;
}
.tech.react,
.tech.react::before {
  border-radius: 60% 50% 60% 49% /60% 45% 60% 45%;
}
.tech.react:hover,
.tech.react:hover::before {
  border-radius: 60%;
}

.tech.illustrator,
.tech.illustrator::before {
  border-radius: 60% 50% 60% 59% /56% 50% 60% 52%;
}
.tech.illustrator:hover,
.tech.illustrator:hover::before {
  border-radius: 60%;
}
.tech.photoshop,
.tech.photoshop::before {
  border-radius: 60% 50% 49% 60% /66% 55% 60% 48%;
}
.tech.photoshop:hover,
.tech.photoshop:hover::before {
  border-radius: 60%;
}
.tech.indesign,
.tech.indesign::before {
  border-radius: 60% 50% 60% 49% /60% 45% 60% 45%;
}
.tech.indesign:hover,
.tech.indesign:hover::before {
  border-radius: 60%;
}
.tech.animate,
.tech.animate::before {
  border-radius: 60% 40% 60% 39% /56% 40% 60% 42%;
}
.tech.animate:hover,
.tech.animate:hover::before {
  border-radius: 60%;
}
.tech::after,
.tech * {
  transition: transform 0.5s ease-in-out;
}
.tech:hover::after,
.tech:hover > * {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  transform: translateY(-1px);
}

.html.tech {
  --color: #e56027;
}

.css.tech {
  --color: #2760e5;
}

.javascript.tech {
  --color: #ead41c;
}

.typescript.tech {
  --color: #2f72bc;
}

.php.tech {
  --color: #7175aa;
}

.php svg {
  margin-bottom: -0.5rem;
  margin-top: 0.5rem;
}
.react.tech {
  --color: #5ccfee;
}

.illustrator.tech {
  --color: #f8a829;
}
.indesign.tech {
  --color: #e749ad;
}
.acrobat.tech {
  --color: #fa0700;
}
.photoshop.tech {
  --color: #88c3fc;
}
.aftereffects.tech,
.animate.tech {
  --color: #9191f2;
}

.light .tech.javascript::before {
  opacity: 0.4;
}
.light .tech.javascript h5,
.light .tech.javascript svg {
  --color: #a4930f;
}
.light .tech.react h5,
.light .tech.react::before,
.light .tech.react::after {
  --color: #149dc2;
}
.light .tech.photoshop h5,
.light .tech.photoshop::before,
.light .tech.photoshop::after {
  --color: #2491f9;
}
.light .tech.illustrator h5 {
  color: #300000;
}
.light .tech.indesign h5 {
  color: #470019;
}
.light .tech.aftereffects h5,
.light .tech.animate h5 {
  color: #00005b;
}

.graphic img,
.tech svg {
  -webkit-filter: drop-shadow(0.3rem 0.3rem 0.5rem black);
  filter: drop-shadow(0.3rem 0.3rem 0.5rem black);
}
.light .graphic img,
.light .tech svg {
  -webkit-filter: drop-shadow(0.3rem 0.3rem 0.5rem white);
  filter: drop-shadow(0.3rem 0.3rem 0.5rem white);
}
@media (min-width: 500px) {
  .techwrap {
    flex-flow: row wrap;
    gap: 1.5rem 8%;
  }
  .tech:nth-child(odd),
  .tech:nth-child(even) {
    margin: 0;
  }

  .tech:nth-child(3),
  .tech:nth-child(4) {
    margin: 0 6% 0 -6%;
  }
} /*END media*/

@media (min-width: 900px) {
  .techwrap {
    gap: 2rem 4%;
    max-width: 900px;
  }
  .tech {
  }
  .tech:nth-child(3),
  .tech:nth-child(4) {
    margin: 0;
  }
  .tech:nth-child(2),
  .tech:nth-child(5) {
    margin: 1em 0 -1em 0;
  }
  .tech::after {
    top: 2rem;
    left: 2.4rem;
    width: 1rem;
    height: 1rem;
    opacity: 0.1;
    background-color: var(--color);
  }

  .icon {
    font-size: 3rem;
  }
  .tech h5 {
    font-size: var(--title-S);
  }
  .tech h5::before {
    top: -2rem;
    left: 1.4rem;
  }
  .tech h5::after {
    top: -3.4rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
  }
  .tech p {
    font-size: 0.8rem;
    opacity: 0.8;
  }
} /*END media*/
@keyframes zoomin {
  0% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes jiggle {
  0%,
  100% {
    -webkit-transform: rotate(-1.5deg) translate(0) scale(1);
    -ms-transform: rotate(-1.5deg) translate(0) scale(1);
    -o-transform: rotate(-1.5deg) translate(0) scale(1);
    -moz-transform: rotate(-1.5deg) translate(0) scale(1);
    transform: rotate(-1.5deg) translate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(1.5deg) translate(1px) scale(1.005, 1);
    -ms-transform: rotate(1.5deg) translate(1px) scale(1.005, 1);
    -o-transform: rotate(1.5deg) translate(1px) scale(1.005, 1);
    -moz-transform: rotate(1.5deg) translate(1px) scale(1.005, 1);
    transform: rotate(1.5deg) translate(1px) scale(1.005, 1);
  }
}

.absolute {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: transitionY(-50%), transitionX(-50%);
  -ms-transform: transitionY(-50%), transitionX(-50%);
  -o-transform: transitionY(-50%), transitionX(-50%);
  -moz-transform: transitionY(-50%), transitionX(-50%);
  transform: transitionY(-50%), transitionX(-50%);
}

/*COLOR BLOCKS*/
.color-ul {
  padding: 0;
  margin: 0;
}
.shape {
  position: relative;
  font-size: 0.8em;
  line-height: 2;
  width: 100%;
  padding: 0.4em 1em 2.5em;
  margin: -2.6em 0 0em;
  transition-property: clip-path;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-delay: calc(var(--i) * 20ms);
  word-break: keep-all;
  -webkit-clip-path: polygon(
    0% 100%,
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,
    100% 100%
  );
  -ms-clip-path: polygon(
    0% 100%,
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,
    100% 100%
  );
  -o-clip-path: polygon(
    0% 100%,
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,
    100% 100%
  );
  -moz-clip-path: polygon(
    0% 100%,
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,
    100% 100%
  );
  clip-path: polygon(
    0% 100%,
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,
    100% 100%
  );
}
.shape:hover ~ .shape,
.shape:hover {
  -webkit-clip-path: polygon(
    0% 100%,
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,
    100% 100%
  );
  -ms-clip-path: polygon(
    0% 100%,
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,
    100% 100%
  );
  -o-clip-path: polygon(
    0% 100%,
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,
    100% 100%
  );
  -moz-clip-path: polygon(
    0% 100%,
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,
    100% 100%
  );
  clip-path: polygon(
    0% 100%,
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,
    100% 100%
  );
}
.shape:last-child {
  -webkit-clip-path: polygon(
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,

    100% 57%,
    92% 68%,
    86% 75%,
    81% 80%,
    69% 83%,
    55% 80%,
    43% 72%,
    31% 62%,
    19% 57%,
    8% 56%,
    0% 55%
  );
  -ms-clip-path: polygon(
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,

    100% 57%,
    92% 68%,
    86% 75%,
    81% 80%,
    69% 83%,
    55% 80%,
    43% 72%,
    31% 62%,
    19% 57%,
    8% 56%,
    0% 55%
  );
  -o-clip-path: polygon(
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,

    100% 57%,
    92% 68%,
    86% 75%,
    81% 80%,
    69% 83%,
    55% 80%,
    43% 72%,
    31% 62%,
    19% 57%,
    8% 56%,
    0% 55%
  );
  -moz-clip-path: polygon(
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,

    100% 57%,
    92% 68%,
    86% 75%,
    81% 80%,
    69% 83%,
    55% 80%,
    43% 72%,
    31% 62%,
    19% 57%,
    8% 56%,
    0% 55%
  );
  clip-path: polygon(
    0 0,
    11% 0,
    23% 2%,
    32% 6%,
    40% 12%,
    50% 20%,
    61% 26%,
    72% 27%,
    82% 24%,
    91% 15%,
    100% 0,

    100% 57%,
    92% 68%,
    86% 75%,
    81% 80%,
    69% 83%,
    55% 80%,
    43% 72%,
    31% 62%,
    19% 57%,
    8% 56%,
    0% 55%
  );
}
.shape:hover ~ .shape:last-child,
.shape:last-child:hover {
  -webkit-clip-path: polygon(
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,

    100% 74%,
    94% 84%,
    88% 90%,
    82% 96%,
    69% 100%,
    55% 95%,
    43% 83%,
    30% 69%,
    18% 60%,
    8% 57%,
    0% 56%
  );
  -ms-clip-path: polygon(
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,

    100% 74%,
    94% 84%,
    88% 90%,
    82% 96%,
    69% 100%,
    55% 95%,
    43% 83%,
    30% 69%,
    18% 60%,
    8% 57%,
    0% 56%
  );
  -o-clip-path: polygon(
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,

    100% 74%,
    94% 84%,
    88% 90%,
    82% 96%,
    69% 100%,
    55% 95%,
    43% 83%,
    30% 69%,
    18% 60%,
    8% 57%,
    0% 56%
  );
  -moz-clip-path: polygon(
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,

    100% 74%,
    94% 84%,
    88% 90%,
    82% 96%,
    69% 100%,
    55% 95%,
    43% 83%,
    30% 69%,
    18% 60%,
    8% 57%,
    0% 56%
  );
  clip-path: polygon(
    0 0,
    14% 2%,
    24% 6%,
    34% 16%,
    43% 29%,
    52% 40%,
    61% 46%,
    73% 46%,
    82% 42%,
    92% 32%,
    100% 18%,

    100% 74%,
    94% 84%,
    88% 90%,
    82% 96%,
    69% 100%,
    55% 95%,
    43% 83%,
    30% 69%,
    18% 60%,
    8% 57%,
    0% 56%
  );
}
.shape span {
  display: inline-block;
  word-break: keep-all;
  transform-origin: left bottom;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-delay: calc(var(--i) * 20ms);
}
.shape:hover ~ .shape span,
.shape:hover span {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  transform: rotate(3deg);
}
@media (max-width: 399px) {
  .shape {
    padding: 0.3em 1vw 2.7em;
    margin: -2.5em 0 0em;
  }
  .shape span {
    -webkit-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
    font-size: 0.9em;
  }
  .shape:hover ~ .shape span,
  .shape:hover span {
    -webkit-transform: rotate(11deg) translateY(0.2em);
    -ms-transform: rotate(11deg) translateY(0.2em);
    -o-transform: rotate(11deg) translateY(0.2em);
    -moz-transform: rotate(11deg) translateY(0.2em);
    transform: rotate(11deg) translateY(0.2em);
  }
} /*END media*/
