.dependencies h3 {
  font-size: clamp(var(--title-S), 3vw, var(--title-M));
  max-width: 600px;
  text-align: left;
  margin: 1em auto 0.5em;
}
.list {
  text-align: center;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  align-items: flex-start;
  justify-content: center;
}
.list li {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  flex: 1 0 100%;
}
.portfolio .card .list li a span {
  border-radius: 0 0 0.5em 0.5em;
  padding-bottom: 0.3em;
  text-wrap: balance;
}
.portfolio .card .list li a,
.portfolio .card .list li a > * {
  text-decoration: none;
  background: none;
}
.portfolio .card .list li a > span {
  background-size: 100% 200%;
  background-position: top;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--color-primary-1) 0%, transparent 28%);
  line-height: 1.1;
  margin-bottom: 0.3em;
}
.portfolio .card .list li a:hover > span,
.portfolio .card .list li a:focus > span {
  background-position: 50% 98%;
}
.list li:hover {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  transform: translateY(-6px);
}
.list svg {
  display: block;
  margin: 0 auto;
  font-size: clamp(3em, 5vw, 4em);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  margin-top: 1.5em;
}
.list a svg {
  background: transparent;
}
.list a:hover svg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  background: transparent;
}
.list a > span {
  display: inline-block;
  padding-top: 0.6em;
  font-family: var(--title-family);
  font-size: clamp(var(--title-S), 2vw, var(--title-M));
}
.list p {
  color: var(--color-secondary-1);
  font-size: 0.9em;
  line-height: 1.2;
}
.featured {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.2em;
  max-width: 100%;
}
.featured > ul.list {
  flex-flow: row nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: flex-start;
  margin-left: 0;
  max-width: 100%;
  min-width: 100%;
  scrollbar-width: none;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 96%);
  -moz-clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 96%);
  -ms-clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 96%);
  -o-clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 96%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 96%);
}
.featured > ul.list li {
  flex: 0 0 100%;
  max-width: 100%;
}
.featured > ul.list li svg {
  margin-top: 0.2em;
}
.featured a {
  line-height: 1;
}
.featured a b {
  height: 4em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.featured a span {
  padding: 0.4em 0;
}
.featured > button.horizontal-scroll {
  position: absolute;
  width: auto;
  align-self: center;
  z-index: 2;
  transition-duration: 300ms;
}
.featured > button.horizontal-scroll:hover,
.featured > button.horizontal-scroll:focus,
.featured > button.horizontal-scroll:focus-visible {
  outline-offset: 10px;
}
.featured > button.horizontal-scroll.left svg,
.featured > button.horizontal-scroll.right svg {
  transition-property: margin-left, margin-right;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.featured > button.horizontal-scroll.left {
  left: 0%;
  top: -20%;
  padding: 1em 0.9em 1em 2em;
  -webkit-clip-path: polygon(100% 0%, 90% 1%, 10% 50%, 90% 99%, 100% 100%);
  -moz-clip-path: polygon(100% 0%, 90% 1%, 10% 50%, 90% 99%, 100% 100%);
  -ms-clip-path: polygon(100% 0%, 90% 1%, 10% 50%, 90% 99%, 100% 100%);
  -o-clip-path: polygon(100% 0%, 90% 1%, 10% 50%, 90% 99%, 100% 100%);
  clip-path: polygon(100% 0%, 90% 1%, 10% 50%, 90% 99%, 100% 100%);
}
.featured > button.horizontal-scroll.right {
  bottom: -16%;
  right: 0%;
  padding: 1em 2em 1em 0.9em;
  -webkit-clip-path: polygon(0% 0%, 10% 1%, 90% 50%, 10% 99%, 0% 100%);
  -moz-clip-path: polygon(0% 0%, 10% 1%, 90% 50%, 10% 99%, 0% 100%);
  -ms-clip-path: polygon(0% 0%, 10% 1%, 90% 50%, 10% 99%, 0% 100%);
  -o-clip-path: polygon(0% 0%, 10% 1%, 90% 50%, 10% 99%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 1%, 90% 50%, 10% 99%, 0% 100%);
}
.featured > button.horizontal-scroll::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: var(--color-primary-6);
  background-image: radial-gradient(circle, var(--color-primary-18) 0%, var(--color-primary-7) 50%, var(--color-primary-5) 100%);
  background-size: 400% 100%;
  background-position: center;
  pointer-events: none;
  transition-property: background-color, background-size;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.featured > button.horizontal-scroll:hover::before,
.featured > button.horizontal-scroll:focus::before,
.featured > button.horizontal-scroll:focus-visible::before {
  background-color: var(--color-primary-18);
  background-size: 400% 200%;
}
.featured > button.horizontal-scroll.left::before {
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%, 90% 96%, 20% 50%, 90% 4%, 90% 96%, 100% 100%);
}
.featured > button.horizontal-scroll.right::before {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 10% 98%, 80% 50%, 10% 4%, 10% 98%, 0% 100%);
}
.featured > button.horizontal-scroll.left:hover svg,
.featured > button.horizontal-scroll.left:focus svg,
.featured > button.horizontal-scroll.left:focus-visible svg {
  margin-left: -0.1rem;
  margin-right: 0.1rem;
}
.featured > button.horizontal-scroll.right:hover svg,
.featured > button.horizontal-scroll.right:focus svg,
.featured > button.horizontal-scroll.right:focus-visible svg {
  margin-left: 0.1rem;
  margin-right: -0.1rem;
}
.featured > button.horizontal-scroll:disabled {
  opacity: 0.3;
  cursor: default;
  border: none;
}
.featured > button.horizontal-scroll:disabled::before {
  background-color: var(--color-primary-1);
  background-size: 400% 100%;
}
.notes {
  max-width: 600px;
  margin: 0 auto;
}
.notes > * {
  display: block;
  margin-bottom: 1em;
}
.notes ul,
.notes p,
.notes > * {
  margin: 0 auto 1em;
}
.notes label {
  margin-top: 2em;
  margin-bottom: 0.4em;
}
.notes ul {
  text-align: left;
  list-style: square;
  list-style-type: square;
  padding: 0 0 0 1em;
  width: 100%;
  max-width: 500px;
}
.notes li {
  line-height: 1.8;
}
.multistep svg {
  -webkit-box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
  -ms-box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
  -moz-box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
  -o-box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
  box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
}
.notes .introparagraph {
  margin-bottom: 4em;
}
#color-page .btn-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#color-page .btn-wrap .rotate90 {
  display: block;
  transform: rotate(90deg);
  font-size: 2.8em;
  line-height: 0.9;
  margin: 0 0 -0.2em 0;
}
#color-page .btn-wrap .flat-top {
  border-radius: 0 0 999px 999px;
}
#color-page .btn-wrap .column {
  flex-flow: column nowrap;
  gap: 0;
}

@media (min-width: 300px) {
  .featured {
    margin-left: 1.5em;
    max-width: calc(100% - 3em);
    min-width: calc(100% - 3em);
  }
  .featured > ul.list {
    gap: 0;
  }
  .featured > ul.list li {
    padding: 0 0.5em;
  }
  .featured > button.horizontal-scroll {
    position: absolute;
    align-self: center;
    z-index: 2;
  }
  .featured > button.horizontal-scroll.left {
    left: -2em;
    top: 5%;
    height: 86%;
    width: auto;
    padding: 0 0.2em 0 0.6em;
    clip-path: polygon(100% 0%, 90% 1%, 10% 50%, 90% 99%, 100% 100%);
  }
  .featured > button.horizontal-scroll.right {
    right: -2em;
    left: unset;
    top: 5%;
    bottom: unset;
    height: 86%;
    width: auto;
    padding: 0 0.6em 0 0.2em;
    clip-path: polygon(0% 0%, 10% 1%, 90% 50%, 10% 99%, 0% 100%);
  }
  .featured > button.horizontal-scroll::before {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }
}

@media (min-width: 400px) {
  .featured > ul.list {
    /* fade 2em at left and right */
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 2em, rgba(0, 0, 0, 1) calc(100% - 2em), rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 2em, rgba(0, 0, 0, 1) calc(100% - 2em), rgba(0, 0, 0, 0) 100%);
  }
  .featured > ul.list li {
    flex: 0 0 46%;
  }
}
@media (min-width: 600px) {
  .notes > * {
    margin: 0 auto 1em;
  }
  ul.list {
    margin: 0 auto;
  }
  .list li {
    flex: 0 1 46%;
    margin: 0 auto;
  }
  .featured > ul.list li {
    flex: 0 0 46%;
  }
} /*END media*/

@media (min-width: 800px) {
  .list li {
    flex: 0 1 26%;
  }
  .featured > ul.list li {
    flex: 0 0 26%;
  }
  .list {
    margin-left: calc(var(--page-padding) * -1);
    min-width: calc(100% + var(--page-padding) * 2);
  }
}
@media (min-width: 1000px) {
  .list a > span {
    font-family: var(--title-family);
    font-size: clamp(var(--title-M), 4vw, var(--title-L));
  }
}
