.list {
  text-align: center;
  padding: 0;
}
.list li {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.portfolio .card .list li a,
.portfolio .card .list li a > * {
  text-decoration: none;
  background: none;
}
.portfolio .card .list li a > span {
  background-size: 100% 200%;
  background-position: top;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--color-primary-1) 0%, transparent 28%);
}
.portfolio .card .list li a:hover > span,
.portfolio .card .list li a:focus > span {
  background-position: bottom;
}
.list li:hover {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  transform: translateY(-6px);
}
.list svg {
  display: block;
  margin: 0 auto;
  font-size: clamp(3em, 5vw, 4em);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  margin-top: 1.5em;
}
.list a svg {
  background: transparent;
}
.list a:hover svg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  background: transparent;
}
.list span {
  display: inline-block;
  padding-top: 0.6em;
  font-family: var(--title-family);
  font-size: clamp(var(--title-M), 4vw, var(--title-L));
}
.list p {
  color: var(--color-primary-14);
  font-size: 0.9em;
}

.notes > * {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
.notes ul,
.notes p,
.notes > * {
  margin: 0 auto 1em;
}
.notes label {
  margin-top: 2em;
  margin-bottom: 0.4em;
}
.notes ul {
  text-align: left;
  list-style-type: square;
  padding: 0;
  width: max-content;
}
.notes li {
  line-height: 1.8;
}
.multistep svg {
  -webkit-box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
  -ms-box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
  -moz-box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
  -o-box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
  box-shadow: -0.2em 0.2em 0 -0.14em currentColor;
}
@media (min-width: 600px) {
  .notes ul {
    max-width: max-content;
  }
  .notes > * {
    width: 60%;
    margin: 0 auto 1em;
  }
  ul.list {
    width: 80%;
    margin: 0 auto;
  }
} /*END media*/

.notes .introparagraph {
  margin-bottom: 4em;
}
