.list {
  display: flex;
  flex-flow: column nowrap;
  gap: 3em;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: max-content;
  max-width: 600px;
  margin: 0 auto 2rem;
}
.list li {
  flex: 1 0 30%;
}
.list a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}
.transformations .list a {
  transition-duration: 500ms;
}
.list svg {
  font-size: clamp(3em, 5vw, 4em);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  -moz-transform-origin: bottom;
  transform-origin: bottom;
}
.list a:hover,
.list a:focus {
  -webkit-transform: translateY(-0.1em);
  -ms-transform: translateY(-0.1em);
  -o-transform: translateY(-0.1em);
  -moz-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
  text-decoration: none;
}
.list a:hover svg,
.list a:focus svg {
  /* font-size: clamp(2em, 4vw, 3em); */
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}
.list span {
  display: block;
  min-width: max-content;
  font-size: clamp(0.9em, 1vw, 2em);
  transition-property: font-size, color;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  -moz-transform-origin: bottom;
  transform-origin: bottom;
}
.list svg,
.list span {
  transition-property: font-size, transform, fill;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.list a:hover span,
.list a:focus span {
  /* font-size: clamp(1.2em, 2vw, 3em); */
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
.language {
  font-size: 0.8em;
  max-width: 11em;
}
.language > div > span {
  --color-text: var(--color-primary-17);
  color: var(--color-text);
}
.subheading {
  font-size: clamp(1.5em, 3vw, 2em);
  font-weight: 400;
  text-align: center;
  margin: 0 auto 1.5em;
  color: var(--color-primary-14);
}

.list p {
  color: var(--color-primary-14);
  font-size: 0.9em;
  text-align: center;
}
.newest {
  padding-top: 8em;
}

.extras,
.extras ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  gap: 1em 0.6em;
  list-style: none;
}
.extras ul {
  margin-left: 0;
}
.extras > li {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 2px dotted var(--color-gray-dark);
  width: 100%;
  padding-bottom: 1em;
}
.extras > li > strong {
  margin-bottom: 0.8em;
}

.extras > li > strong::before {
  content: '[ ';
}
.extras > li > strong::after {
  content: ' ]';
}
.extras li li li {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5em;
}
.extras li li li a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.extras a {
  font-size: 1.1em;
}
.extras svg {
  font-size: 1.8em;
}

.language-welcome {
  position: relative;
  top: -7rem;
  margin-bottom: -4rem;
  gap: 0.5em;
  background-color: hsla(var(--hue-primary), 100%, 2%, 0.3);
  padding: 0.6em 0.3em 0.3em;
  border-radius: var(--radius-small);
}
.light .language-welcome {
  background-color: hsla(var(--hue-primary), 100%, 97%, 0.3);
}
.language-welcome > span {
  padding-left: 0.5em;
  text-shadow: 0.1em 0.1em 0.1em var(--color-primary-1);
}

@media (min-width: 600px) {
  .list {
    flex-flow: row nowrap;
    gap: 1em;
    align-items: flex-start;
    justify-content: center;
  }
  .extras,
  .extras ul {
    align-items: flex-start;
    justify-content: flex-start;
    max-width: max-content;
    margin: 0 auto;
  }
  .extras ul {
    margin-left: 0;
  }
  .extras > li,
  .extras > li > ul > li {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .extras > li > strong {
    --width: 5em;
    margin-top: 0.4em;
    min-width: var(--width);
    max-width: var(--width);
    flex: 0 0 var(--width);
  }
  .extras > li > ul > li > strong {
    --width: 6em;
    margin-top: 0.4em;
    min-width: var(--width);
    max-width: var(--width);
    flex: 0 0 var(--width);
  }
}
@media (min-width: 800px) {
}
