.top {
  margin-top: 6em;
}
h1.h1 {
  font-size: var(--title-XS);
}
.quiz {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 1em;
}
.quiz > p {
  text-align: center;
}
.quiz progress {
  width: 100%;
  margin: 0.5em 0 0.1em;
}
.quiz footer {
  text-align: center;
  padding: 1em;
}
.wrap {
  max-width: 800px;
  margin: 0 auto;
}
.options {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}
.difficulty,
.reset {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
}
@media (min-width: 700px) {
  .difficulty,
  .reset {
    flex-flow: row nowrap;
  }
}
button.mode {
  outline: currentColor solid 2px;
}
button.mode.easy {
  outline-color: green;
  outline-width: 3px;
}
button.mode.hard {
  outline-color: red;
  outline-style: double;
  outline-width: 4px;
  outline-offset: -4px;
}
button.next {
  margin-top: 1em;
}
button.answer {
  outline: currentColor solid 3px;
}
button.correct {
  outline-color: lime;
}
button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
button.disabled.correct {
  opacity: 1;
}
.question {
  font-size: var(--title-M);
  font-family: var(--text-family);
  letter-spacing: 0.01em;
  text-align: left;
}
table.highscores {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
table.highscores caption {
  font-size: var(--title-XL);
  font-family: var(--title-family);
  letter-spacing: 0.01em;
  text-align: center;
  padding: 1em 0 0.5em;
  min-width: max-content;
}

table.highscores .th th {
  font-size: var(--title-S);
  font-family: var(--title-family);
  letter-spacing: 0.01em;
  text-align: left;
  padding: 0.5em;
  min-width: max-content;
  border-bottom: 1px solid currentColor;
}
table.highscores th,
table.highscores td {
  padding: 0.2em 0.5em;
  text-align: left;
}
table.highscores th.score {
  text-align: right;
}
table.highscores th.percentage {
  text-align: center;
}
table.highscores tbody tr:first-child th,
table.highscores tbody tr:first-child td {
  padding-top: 0.6em;
}
table.highscores td:first-of-type,
table.highscores td:nth-of-type(2) {
  text-align: right;
}
.register-login-wrap {
  margin-top: 2em;
}
.register-login-wrap h2 {
  margin-bottom: 1.5em;
  font-size: var(--title-L);
}
.showHighscores {
  display: block;
  margin: 0 auto;
}
