.blob.page .inner-wrap {
  gap: 3rem;
}

svg.filter {
  height: 0;
  width: 0;
}
.drag-container .drag-wrap {
  background-color: transparent;
  position: relative;
}
.drag-container .blob-title-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.drag-container .blob-title-wrap > * {
  flex: 0 0 max-content;
  max-width: 600px;
  text-align: center;
}
.drag-container .blob-title-wrap > h2 {
  margin-top: 0.5em;
}
.drag-container h3,
.drag-container h4,
.drag-container h5,
.drag-container h6 {
  margin: 0 auto;
}
.drag-container {
  position: relative;
  margin: 0 calc(var(--padd) * -1) 0 calc(calc(var(--padd) + var(--page-padding)) * -1);
  min-width: calc(100% + calc(var(--padd) + var(--page-padding)) * 2);
}
.drag-container #drag-wrap-outer0 {
  --hue0: 214;
  --saturation0: 80;
  --lightness0: 30;
  background-color: hsl(
    calc(var(--hue0)),
    calc(var(--saturation0) * 1%),
    calc(var(--lightness0) * 1%)
  );
}
.drag-container #drag-wrap-outer1 {
  --hue1: 214;
  --saturation1: 80;
  --lightness1: 30;
  background-color: hsl(
    calc(var(--hue1)),
    calc(var(--saturation1) * 1%),
    calc(var(--lightness1) * 1%)
  );
}
.drag-container .dragzone::after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;

  border-radius: 50%;
  z-index: -1;
}

.drag-container .dragzone {
  min-height: 40px;
  min-width: 40px;
  max-height: 360px;
  max-width: 360px;
  height: calc(var(--i) * 10px);
  width: calc(var(--i) * 10px);
}
#drag-container0 .dragzone {
  /*first instance*/
  min-height: 70px;
  min-width: 70px;
}
.drag-container .colorblock {
  --box: -4px 4px 20px 0 hsla(0, 0%, 0%, 0.2), -2px 2px 10px -6px hsla(0, 0%, 0%, 0.8),
    -2px 2px 4px -4px hsla(0, 0%, 0%, 0.8);
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}

.drag-container .make-smaller,
.drag-container .make-larger {
  z-index: 1;
}

.drag-container .make-random {
  cursor: pointer;
  z-index: 1;
}

.drag-container .delete-blob {
  z-index: 1;
  transform: translateY(-0.3rem);
  transform-origin: 80% 50%;
}
.colorblock .color-alert {
  display: none;
}
.drag-container .delete-blob .delete-alert,
.drag-container .make-more .clone-alert,
.drag-container .layer-decrease .layer-down-alert,
.drag-container .layer-increase .layer-up-alert,
.drag-container .scale-up-alert,
.drag-container .scale-down-alert,
.colorblock.active .color-alert {
  position: absolute;
  display: block;
  background-color: var(--color-primary-20);
  color: var(--color-primary-1);
  top: -80%;
  left: 120%;
  min-width: clamp(10px, 70vw, 130px);
  font-size: 0.8rem;
  pointer-events: none;
  white-space: wrap;
  text-align: left;
  padding: 0.2rem 0.5rem;
  border-radius: var(--radius-small);
  line-height: 1;
  font-weight: normal;
}
.drag-container .make-more .clone-alert,
.drag-container .scale-down-alert {
  top: 80%;
}
.drag-container .layer-increase .layer-up-alert,
.drag-container .scale-up-alert,
.drag-container .scale-down-alert {
  left: unset;
  right: 120%;
}
.drag-container .scale-up-alert {
  top: -150%;
}
.colorblock.active,
.colorblock.active:hover,
.colorblock.active:focus,
.colorblock.active:focus-visible {
  border-color: black;
  outline-color: black;
  outline-width: 3px;
  outline-offset: -3px;
}
.colorblock.active .color-alert {
  top: -110%;
  min-width: max-content;
  max-width: max-content;
  padding: 0.2em 0.3em;
  border: 2px dashed black;
}
.colorblock.active.left .color-alert {
  left: 0;
}
.colorblock.active.right .color-alert {
  right: 0;
  left: unset;
}
.drag-container .make-more {
  z-index: 1;
  padding: 0.1rem 0.4rem 0.2rem;
  --box: inset -0.1rem -0.1rem 0.4rem -0.2rem rgba(0, 0, 0, 0.4),
    inset -0.1rem -0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}
.drag-container .drag-slider-wrap {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row wrap;
  padding: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem 2%;
}
.drag-container .drag-slider-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%;
  gap: 0.5rem 0.2rem;
}
.drag-container .drag-slider-single > label,
.drag-container .drag-slider-single > input {
  /* max-width: 68vw; */
  flex: 1 0 calc(90% - 4em);
  text-align: center;
  align-self: center;
}

.drag-container .drag-slider-single > label {
  position: relative;
  padding: 0 0 0.5em;
  margin-bottom: 0.4em;
}
.drag-container .drag-slider-single > label::after {
  content: '';
  position: absolute;
  bottom: -1em;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  -moz-transform: translateX(50%);
  transform: translateX(50%);
  border: 0.5em transparent solid;
  border-width: 0.6em 0.4em;
  border-top-color: currentColor;
}
.drag-container .drag-slider-single > span {
  width: 100%;
  text-align: center;
}
.drag-container .drag-slider-single > button {
  flex: 0 0 100%;
  margin: 0 auto;
  padding: 0.3em 0.5em;
}

@media (min-width: 260px) {
  .drag-container .drag-slider-single > span {
    width: initial;
  }
  .drag-container .drag-slider-single > button {
    flex: 0 0 auto;
    padding: 0.3em 1.2em;
  }
}
@media (min-width: 600px) {
  .drag-container .drag-slider-wrap {
    margin: 0;
  }

  .drag-container .drag-slider-single > label {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .drag-container .drag-slider-single > input {
    flex: 1 1 calc(45% - 4em);
  }
}
@media (min-width: 700px) {
  .drag-container .drag-slider-single {
    flex: 1 1 28%;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 1em;
  }
  .drag-container .drag-slider-single > button {
    flex: 1 0 100%;
  }
}

.drag-slider {
  --size: 30px;
  --tra: opacity 0.2s;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  height: calc(var(--size));
  min-height: calc(var(--size));
  width: calc(100% - 2 * var(--size));
  min-width: calc(100% - 2 * var(--size));
  background: lightgray;
  outline: none;
  opacity: 0.6;
  -webkit-transition: var(--tra);
  -moz-transition: var(--tra);
  -ms-transition: var(--tra);
  -o-transition: var(--tra);
  transition: var(--tra);
  border: 0;
  border-radius: var(--size);
  padding: 0 calc(var(--size) / 3);
}
.light .drag-slider {
  background: gray;
}
.drag-slider:hover {
  opacity: 1;
}
.drag-container .drag-slider:focus {
  border-radius: var(--size);
  outline: dashed 2px currentColor;
  outline-offset: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.drag-slider::-webkit-slider-thumb {
  --box: inset 0 calc(var(--size) / 16 * -1) calc(var(--size) / 2)
    calc(var(--size) / 6 * -1) black;
  width: var(--size);
  height: var(--size);
  background: var(--color-primary-11);
  cursor: ew-resize;
  border-radius: calc(var(--size));
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  box-shadow: var(--box);
}

.drag-slider::-moz-range-thumb {
  width: var(--size);
  height: var(--size);
  background: var(--color-primary-11);
  cursor: ew-resize;
}

.drag-slider::-webkit-slider-runnable-track {
  --box: inset 0 calc(var(--size) / 16) calc(var(--size) / 2) calc(var(--size) / 6 * -1)
    black;
  width: 100%;
  background-color: white;
  border-radius: calc(var(--size));
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}
.blob.page {
  --corner: 1rem;
  --corner2: calc(var(--corner) / 1.2);
}
.blob.page button {
  border-radius: var(--corner);
}
.drag-container {
  --tooltip-width: 13rem;
  --tooltip-offset: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.drag-container .label-container {
  -ms-flex-item-align: center;
  align-self: center;
  line-height: 2;
  flex: 0 0 100%;
  margin: 0 auto;
  padding-left: 1.5em;
  text-align: left;
}
.button-container {
  flex: 0 1 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.2em 0.4em;
}
.button-container button {
  min-width: 100%;
}
.drag-container button {
  border-radius: var(--corner);
  margin: 0.3em 0 0.3em;
}
.drag-container button.reset-blobs:hover,
.drag-container button.reset-blobs:focus {
  border-color: red;
  outline: 1px dashed red;
  outline-offset: 3px;
}
.button-container button.screenshot {
  padding: 0.4em 0.8em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.button-container button.screenshot svg {
  font-size: 1.3rem;
}

@media (min-width: 300px) {
  .button-container {
    flex: 1 0 45%;
    flex-flow: row wrap;
    justify-content: center;
  }
  .button-container button {
    min-width: max-content;
  }
} /*END media*/

@media (min-width: 700px) {
  .drag-container .label-container {
    flex: 1 0 100%;
  }
  .drag-container .label-container .selectedvalue {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .button-container {
    --space: 0.4em;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    margin-bottom: 0.5em;
    justify-content: space-between;
  }
  .drag-container .button-container button {
    /* width: clamp(160px, calc(20% - calc(var(--space) * 4)), 100%);
    min-width: clamp(100px, calc(20% - calc(var(--space) * 4)), 160px); */
    flex: 1 0 auto;
    margin: 0.3em var(--space) 0.3em 0;
    padding: 0.5em 0.3em;
    word-wrap: break-word;
  }
  .drag-container .button-container button.screenshot {
    flex: 0 0 auto;
    margin: 0;
  }
  .drag-container button {
    margin: 0 0.5em 0.3em 0.3em;
    padding: 0.6em 0.8em;
  }
} /*END media*/

.drag-container button {
  outline: transparent 2px solid;
  outline-offset: -2px;
  border-radius: var(--corner);
}

.drag-wrap-outer {
  --tooltip-color: lightgray;
  --box: 0 10px 30px 0 hsla(0, 0%, 0%, 0.3);

  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
  overflow: hidden;
}
.dark-mode .drag-wrap-outer {
  --box: 0 10px 30px 0 hsla(0, 0%, 0%, 0.8);
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}
.drag-container,
.drag-wrap-outest,
.drag-wrap-outer,
.drag-wrap,
.drag-wrap .drag-container-layer {
  border-radius: 0; /* For better screenshot quality */
}

.drag-container
  .wp-block-group__inner-container
  > :not(.alignfull):not(.alignwide):not(.alignwide-wrap) {
  width: 100%;
  min-width: 100%;
}
.drag-wrap-outer {
  overflow: auto;
}
.drag-wrap-outest {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
}
.drag-wrap,
.drag-wrap .drag-container-layer {
  height: calc(100vh - 7rem);
  min-height: 420px;
  width: 100%;
  min-width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.drag-wrap ul {
  list-style: none;
  overflow: hidden;
}

.drag-container .dragzone {
  border-radius: 50% 51% 54% 46% / 43% 45% 55% 50%;
  pointer-events: none;
}
.drag-container .dragzone {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: white;
}
.drag-container .dragzone.animation {
  --delay: 0.2s;
  --del: calc(var(--i) * var(--delay));
  --duration: 3s;
  --tra1: translatey(0px);
  --tra2: translatey(5px);

  -webkit-animation: sway var(--duration) ease-in-out infinite;
  -moz-animation: sway var(--duration) ease-in-out infinite;
  -o-animation: sway var(--duration) ease-in-out infinite;
  -ms-animation: sway var(--duration) ease-in-out infinite;
  animation: sway var(--duration) ease-in-out infinite;
  -webkit-animation-delay: var(--del);
  -moz-animation-delay: var(--del);
  -o-animation-delay: var(--del);
  -ms-animation-delay: var(--del);
  animation-delay: var(--del);
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}
/* .drag-container .paused .dragzone.animation {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
} */
.drag-container .dragzone .draggable-overlay {
  cursor: -webkit-grab;
  cursor: grab;
  pointer-events: all;
}
.drag-container .dragzone.delete .draggable-overlay {
  cursor: url('../../../assets/cursor_delete.svg') 16 16, crosshair;
}
.drag-container .dragzone.clone .draggable-overlay {
  cursor: url('../../../assets/cursor_clone.svg') 16 16, copy;
}
.drag-container .dragzone.scale-up .draggable-overlay {
  cursor: url('../../../assets/cursor_scale_up.svg') 16 16, ne-resize;
}
.drag-container .dragzone.scale-down .draggable-overlay {
  cursor: url('../../../assets/cursor_scale_down.svg') 16 16, s-resize;
}
.drag-container .dragzone.layer-up .draggable-overlay {
  cursor: url('../../../assets/cursor_layer_up.svg') 16 16, pointer;
}
.drag-container .dragzone.layer-down .draggable-overlay {
  cursor: url('../../../assets/cursor_layer_down.svg') 16 16, pointer;
}
.drag-container .dragzone.changeColor .draggable-overlay {
  cursor: url('../../../assets/cursor_change_color.svg') 16 16, pointer;
}
.drag-container .dragzone.drag-container .dragzone:active .draggable-overlay {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#drag-container1 .dragzone {
  min-width: 40px;
  min-height: 40px;
  max-width: 360px;
  max-height: 360px;
}
.dragzone.drag {
  outline: white solid 3px;
  outline-offset: -3px;
}
.dragzone span {
  color: white;
}

.drag-container .dragzone:hover,
.drag-container .dragzone.drag,
.drag-container .dragzone:focus,
body.dark-mode .site .drag-container .dragzone:focus {
  outline: white calc(var(--i) * 0.6px) solid;
  outline-offset: calc(var(--i) * -0.6px);
}

.dragzone:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.draggable-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  pointer-events: all;
}

.drag-container .make-larger,
.drag-container .make-smaller {
  position: absolute;
  text-align: center;
  font-weight: bold;
}

.drag-container button.toggle-marker {
  position: relative;
}
.drag-container .make-smaller {
  --box: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4),
    inset -0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4),
    inset -0.1rem 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.5);
  top: 0.2rem;
  border-radius: var(--corner2);
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}
.drag-container .make-smaller {
  --bottom: -2.2rem;
  font-size: 0.85rem;
  padding: 0.1em 0.08em 0.1em;
  top: 0;
  line-height: 1.8;
  border-radius: 50%;
}
.drag-container .make-larger,
.drag-container .layer-increase {
  --box: -0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.4),
    inset -0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4),
    inset -0.1rem 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 0.1em 0.2em 0.1em;
  width: 1.8em;
  height: 1.8em;
}
.drag-container .make-more,
.drag-container .delete-blob,
.drag-container .make-smaller {
  position: absolute;
  height: 1.7rem;
  width: 1.7rem;
  max-width: 2.5rem;
}
.drag-container .make-random {
  position: absolute;
  height: 1.9rem;
  width: 1.9rem;
}
.drag-container .delete-blob,
.drag-container .make-larger,
.drag-container .make-random {
  margin: 0;
}
.drag-container .layer-mover-control-wrap {
  display: flex;
  max-width: max-content;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.4em;
  gap: 0.5rem;
  margin: 0.6rem auto 0;
}
.movers-layers-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  margin: 0 auto;
  width: 100%;
}

.blob.page .movers-wrap {
  max-width: 5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 0.2rem;
  gap: 0.3rem;
  margin: 0;
}
.drag-container .layer-mover-control-wrap .layer-tools .layer-tool {
  padding: 0rem 0.2rem 0.04rem;
  height: 1.7rem;
  width: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blob.page .movers-wrap button.mover {
  padding: 0rem 0.2rem 0.04rem;
  height: 1.7rem;
  width: 1.7rem;
  font-size: 1.2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag-container .layer-mover-control-wrap .layer-btn-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.drag-container .layer-mover-control-wrap .layers {
  order: 5;
}
.drag-container .layer-mover-control-wrap .layer-tools1 {
  order: 1;
}
.drag-container .layer-mover-control-wrap .layer-tools2 {
  order: 2;
}
.drag-container .layer-mover-control-wrap .movers-wrap1 {
  order: 3;
}
.drag-container .layer-mover-control-wrap .movers-wrap2 {
  order: 4;
}
.drag-container .layer-mover-control-wrap .layers {
  min-width: 90%;
  width: 90%;
}
@media (min-width: 260px) {
  .drag-container .layer-mover-control-wrap .movers-wrap,
  .drag-container .layer-mover-control-wrap .layer-tools {
    min-width: 48%;
    width: 48%;
    justify-content: center;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap1,
  .drag-container .layer-mover-control-wrap .layer-tools1.layer-btn-wrap {
    justify-content: flex-end;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap2,
  .drag-container .layer-mover-control-wrap .layer-tools2.layer-btn-wrap {
    justify-content: flex-start;
  }
} /* END media */

.drag-container .layer-mover-control-wrap button {
  margin: 0;
  padding: 0.06em 0.6em 0.2em;
  min-height: 1.7rem;
  border: 3px solid var(--color-primary-7);
  outline: 3px solid var(--color-primary-7);
  outline-offset: -5px;
}
.drag-container .layer-mover-control-wrap button:hover,
.drag-container .layer-mover-control-wrap button:focus {
  border: 3px solid var(--color-primary-14);
  outline: 3px solid var(--color-primary-14);
  outline-offset: -5px;
}
.drag-container .layer-mover-control-wrap button.active {
  outline: 3px solid black;
  border: 3px solid white;
  outline-offset: -6px;
}
.light .drag-container .layer-mover-control-wrap button.active {
  outline-color: white;
  border-color: black;
}
.drag-container .layer-mover-control-wrap button.dim {
  opacity: 0.5;
  z-index: 2;
}
.drag-container .layer-mover-control-wrap button:disabled {
  border-color: var(--color-gray-5);
  outline-color: var(--color-gray-5);
  opacity: 0.4;
}
@media (min-width: 500px) {
  .drag-container .layer-mover-control-wrap .layers {
    order: 4;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap,
  .drag-container .layer-mover-control-wrap .layer-tools {
    width: 4.5rem;
    flex: 0 0 4.5rem;
    min-width: 4.5rem;
    max-width: 4.5rem;
  }
  .drag-container .layer-mover-control-wrap .layer-tools1 {
    order: 0;
  }
  .drag-container .layer-mover-control-wrap .layer-tools2 {
    order: 1;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap1 {
    order: 2;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap2 {
    order: 3;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap1,
  .drag-container .layer-mover-control-wrap .layer-tools1.layer-btn-wrap,
  .drag-container .layer-mover-control-wrap .movers-wrap2,
  .drag-container .layer-mover-control-wrap .layer-tools2.layer-btn-wrap {
    justify-content: center;
  }
} /* END media */

@media (min-width: 600px) {
  .drag-container .layer-mover-control-wrap .layer-btn-wrap.layers {
    width: 100%;
    flex: 1 0 100%;
    min-width: 100%;
    max-width: 100%;
  }
} /* END media */
@media (min-width: 900px) {
  .drag-container {
    position: relative;
    margin: 0 calc(var(--padd) * -1) 0 calc(var(--padd) * -1);
    min-width: calc(100% + var(--padd) * 2);
  }
  .drag-container .layer-mover-control-wrap .layer-tools1 {
    order: 1;
  }
  .drag-container .layer-mover-control-wrap .layers.layer-btn-wrap {
    flex: 0 0 max-content;
    min-width: max-content;
    max-width: clamp(400px, 70vw, 21rem);
    order: 0;
  }
  .drag-container .layer-mover-control-wrap .layer-tools2 {
    order: 2;
  }

  .drag-container .layer-mover-control-wrap .layer-tools {
    width: 4.5rem;
    flex: 0 0 4.5rem;
    min-width: 4.5rem;
    max-width: 4.5rem;
  }

  .drag-container .layer-mover-control-wrap .movers-wrap {
    width: 45%;
    flex: 1 0 45%;
    min-width: 45%;
    max-width: 45%;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap1 {
    order: 3;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap2 {
    order: 4;
  }
} /* END media */
@media (min-width: 900px) {
  .drag-container .layer-mover-control-wrap {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap {
    width: 4.5rem;
    flex: 1 0 4.5rem;
    min-width: 4.5rem;
    max-width: 4.5rem;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap1 {
    order: 5;
    justify-content: flex-start;
  }
  .drag-container .layer-mover-control-wrap .movers-wrap2 {
    justify-content: flex-end;
  }
  .drag-container .layer-mover-control-wrap .layer-tools1.layer-btn-wrap {
    justify-content: flex-end;
  }
  .drag-container .layer-mover-control-wrap .layer-tools2.layer-btn-wrap {
    justify-content: flex-start;
  }
} /* END media */
#root .drag-container .layer-adjust {
  position: absolute;
  font-size: 1.4rem;
  height: 1.6rem;
  width: 1.6rem;
  line-height: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  padding: 0;
  z-index: 1;
}

.drag-container .layer-mover-control-wrap .layer-tool {
  padding: 0.15em 0.15em 0;
  font-size: 1.2rem;
  border-radius: 50%;
}

.drag-container .make-more,
.drag-container .make-random {
  --box: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4),
    inset -0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4),
    inset -0.1rem 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.5);
  top: 0.2rem;
  left: 23%;
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0.1rem 0.4rem 0.1rem;
  border-radius: var(--corner);
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}
.drag-container .make-random {
  left: calc(50% - 0.85rem);
  padding: 0.1rem 0.3rem;
}
.drag-container .delete-blob {
  height: 1.7rem;
  line-height: 1.3;
  padding: 0 0.3rem 0.1rem;
  border-radius: 50%;
}
.drag-container .delete-blob,
.drag-container .layer-decrease {
  --box: 0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.4),
    inset -0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4),
    inset -0.1rem 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: var(--box);
  -o-box-shadow: var(--box);
  -ms-box-shadow: var(--box);
  -moz-box-shadow: var(--box);
  box-shadow: var(--box);
}
.drag-container .delete-blob {
  outline: 3px solid red;
  outline-offset: -4px;
}
.drag-container .delete-blob:hover {
  outline: 5px solid red;
  outline-offset: -2px;
}
.drag-container .make-larger,
.drag-container .layer-adjust {
  transform: translateY(-0.3rem);
}
.drag-container .make-smaller,
.drag-container .make-more,
.drag-container .make-random {
  transform: translateY(0.2rem);
}
.drag-container .make-more {
  padding: 0.2rem 0.4rem 0.2rem;
}
.drag-container .colorblock {
  position: absolute;
  width: 1.4rem;
  height: 1.3rem;
  border-radius: 6.7rem 5rem 5rem 6.7rem / 8.7rem 0.7rem 0.7rem 8.7rem;
  margin: 0;
}
@media (max-width: 700px) {
  .colorblock {
    position: absolute;
    width: 0.9rem;
    height: 1.2rem;
  }
} /*END media*/

@media (max-width: 900px) {
  .drag-container .button-container button {
    font-size: 0.8rem;
  }
} /*END media*/

.exitblob {
  flex-basis: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes sway {
  0%,
  100% {
    -webkit-transform: var(--tra1);
    -ms-transform: var(--tra1);
    -o-transform: var(--tra1);
    -moz-transform: var(--tra1);
    transform: var(--tra1);
  }
  50% {
    -webkit-transform: var(--tra2);
    -ms-transform: var(--tra2);
    -o-transform: var(--tra2);
    -moz-transform: var(--tra2);
    transform: var(--tra2);
  }
}
@keyframes sway {
  0%,
  100% {
    -webkit-transform: var(--tra1);
    -ms-transform: var(--tra1);
    -o-transform: var(--tra1);
    -moz-transform: var(--tra1);
    transform: var(--tra1);
  }
  50% {
    -webkit-transform: var(--tra2);
    -ms-transform: var(--tra2);
    -o-transform: var(--tra2);
    -moz-transform: var(--tra2);
    transform: var(--tra2);
  }
}

@media (min-width: 600px) {
  .drag-container .layer-mover-control-wrap {
    gap: 0.3rem;
  }
  .drag-container .layer-mover-control-wrap .layer-btn-wrap {
    max-width: 23rem;
  }
}
@media (min-width: 900px) {
} /* END media */
.blob-register-login-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 0 auto;
}
.blob-register-login-wrap form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}
.blob-register-login-wrap h2 {
  margin-top: 0.6em;
}
.blob-register-login-wrap p {
  margin: 0 0 0.5rem 0.5rem;
}
.blob-register-login-wrap big {
  align-self: center;
}
.login-to-save svg {
  font-size: 3rem;
}
.blob-handling {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  padding: 3em 0 2em;
}
.blob-handling,
.blob-handling h2,
.blob-handling p {
  max-width: clamp(50px, 80vw, var(--wide));
  margin: 0 auto;
}
.blob-handling h2 {
  margin: 1em auto 0;
}
.blob-handling form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
.blob-handling .blob-versions-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0;
}
.blob-handling ul.blob-versions-wrap > li {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem 0.8rem;
}
.blob-handling ul.blob-versions-wrap > li > span {
  flex-grow: 1;
  display: inline-block;
}
.blob-handling button {
  font-size: 0.8em;
  min-width: 8em;
}
.open.blobnewname-container .blobnewname.accordion-inner {
  display: flex !important;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  border: 1px solid var(--color-primary-3);
  border-bottom-color: var(--color-primary-5);
  border-bottom-width: 2px;
  border-radius: var(--corner);
  padding: 0.5em;
}
.blobnewname.accordion-btn.close {
  margin-bottom: 2em;
}
.blobnewname .input-wrap {
  min-width: 100%;
}
.blobnewname .input-wrap label span,
.blobnewname .input-wrap.not-required input:valid ~ span {
}
.blob-version-item {
  min-width: 100%;
  border-bottom: solid 1px var(--color-primary-10);
  padding-bottom: 1rem;
}

.closed .blobnewname.accordion-btn.open {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.blobnewname.accordion-btn.open > * {
  word-break: keep-all;
  font-style: normal;
}
.drag-container .hidden,
.drag-container-layer.hidden,
#root .drag-container .layer-decrease.hidden,
#root .drag-container .layer-increase.hidden {
  display: none;
}
.drag-container button.active {
  outline: 4px dotted var(--color-primary-14);
  background-position: bottom;
  color: var(--color-primary-1);
}
.drag-container .btn-small {
  max-width: max-content;
  min-width: max-content;
}
.pagination-controls {
  --width: 2.6rem;
  --height: 1.6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  width: 100%;
}
.pagination-controls .input-wrap.items-per-page,
.pagination-controls .input-wrap.items-per-page label {
  text-align: center;
  font-size: 0.9em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 0 0 auto;
}
.pagination-controls .input-wrap.items-per-page::before {
  max-height: var(--height);
  max-width: var(--width);
}
.pagination-controls .input-wrap.items-per-page input {
  flex: 0 0 var(--width);
  max-height: var(--height);
  font-size: 0.9em;
  max-width: var(--width);
}
.pagination-controls .input-wrap.items-per-page input:valid ~ span {
  transform: translateY(0);
  position: relative;
  top: initial;
}
.blob.page .drag-container .pagination-btn {
  font-size: 1.6rem;
  padding: 0 0.5rem 0.2rem;
  margin: 0;
  border-radius: 50%;
}

@media (min-width: 700px) {
  .button-container button.screenshot {
    padding: 0.3em 0.8em;
  }
  .drag-container .layer-mover-control-wrap button {
    padding: 0.1em 0.45em 0.2em;
  }
}
@media (min-width: 900px) {
  .button-container button.screenshot {
    padding: 0.28em 0.9em;
  }
  .button-container button.screenshot svg {
    font-size: 1.5rem;
  }
}
