#root {
  width: 100%;
}

.App .App-inner-wrap {
  width: 100%;
  color: var(--color-primary-18);
}
.App.light {
  --color-primary-20: hsl(var(--hue-primary), var(--sat), 1.5%);
  --color-primary-19: hsl(var(--hue-primary), var(--sat), 4%);
  --color-primary-18: hsl(var(--hue-primary), var(--sat), 7%);
  --color-primary-17: hsl(var(--hue-primary), var(--sat), 10%);
  --color-primary-16: hsl(var(--hue-primary), var(--sat), 14%);
  --color-primary-15: hsl(var(--hue-primary), var(--sat), 18%);
  --color-primary-14: hsl(var(--hue-primary), var(--sat), 22%);
  --color-primary-13: hsl(var(--hue-primary), var(--sat), 30%);
  /*do not change, to keep contrast accessible:*/
  --color-primary-12: hsl(var(--hue-primary), var(--sat), 43%);
  /*do not change, to keep contrast accessible:*/
  --color-primary-11: hsl(var(--hue-primary), var(--sat), 52%);
  --color-primary-10: hsl(var(--hue-primary), var(--sat), 56%);
  --color-primary-9: hsl(var(--hue-primary), var(--sat), 59%);
  --color-primary-8: hsl(var(--hue-primary), var(--sat), 64%);
  --color-primary-7: hsl(var(--hue-primary), var(--sat), 70%);
  --color-primary-6: hsl(var(--hue-primary), var(--sat), 76%);
  --color-primary-5: hsl(var(--hue-primary), var(--sat), 82%);
  --color-primary-4: hsl(var(--hue-primary), var(--sat), 87%);
  --color-primary-3: hsl(var(--hue-primary), var(--sat), 90%);
  --color-primary-2: hsl(var(--hue-primary), var(--sat), 93%);
  --color-primary-1: hsl(var(--hue-primary), var(--sat), 97%);

  --color-secondary-1: hsl(var(--hue-secondary), var(--sat), 3%);
  --color-secondary-2: hsl(var(--hue-secondary), var(--sat), 5%);
  --color-secondary-3: hsl(var(--hue-secondary), var(--sat), 8%);
  --color-secondary-4: hsl(var(--hue-secondary), var(--sat), 11%);
  --color-secondary-5: hsl(var(--hue-secondary), var(--sat), 15%);
  --color-secondary-6: hsl(var(--hue-secondary), var(--sat), 19%);
  --color-secondary-7: hsl(var(--hue-secondary), var(--sat), 22%);
  --color-secondary-8: hsl(var(--hue-secondary), var(--sat), 26%);
  --color-secondary-9: hsl(var(--hue-secondary), var(--sat), 30%);
  --color-secondary-10: hsl(var(--hue-secondary), var(--sat), 35%);
  --color-secondary-11: hsl(var(--hue-secondary), var(--sat), 39%);
  --color-secondary-12: hsl(var(--hue-secondary), var(--sat), 43%);
  --color-secondary-13: hsl(var(--hue-secondary), var(--sat), 47%);
  --color-secondary-14: hsl(var(--hue-secondary), var(--sat), 53%);
  --color-secondary-15: hsl(var(--hue-secondary), var(--sat), 58%);
  --color-secondary-16: hsl(var(--hue-secondary), var(--sat), 64%);
  --color-secondary-17: hsl(var(--hue-secondary), var(--sat), 70%);
  --color-secondary-18: hsl(var(--hue-secondary), var(--sat), 76%);
  --color-secondary-19: hsl(var(--hue-secondary), var(--sat), 82%);
  --color-secondary-20: hsl(var(--hue-secondary), var(--sat), 90%);

  --color-visited: hsl(var(--hue-primary), 77%, 33%);

  --color-gray-1: hsl(var(--hue-primary), var(--sat-fade), 90%);
  --color-gray-2: hsl(var(--hue-primary), var(--sat-fade), 80%);
  --color-gray-3: hsl(var(--hue-primary), var(--sat-fade), 70%);
  --color-gray-4: hsl(var(--hue-primary), var(--sat-fade), 60%);
  --color-gray-5: hsl(var(--hue-primary), var(--sat-fade), 50%);
  --color-gray-6: hsl(var(--hue-primary), var(--sat-fade), 40%);
  --color-gray-7: hsl(var(--hue-primary), var(--sat-fade), 30%);
  --color-gray-8: hsl(var(--hue-primary), var(--sat-fade), 20%);
  --color-gray-9: hsl(var(--hue-primary), var(--sat-fade), 10%);
  --color-gray-10: hsl(var(--hue-primary), var(--sat-fade), 5%);

  color-scheme: light;
}
.App .App-inner-wrap > .App-inner-wrap {
  margin: 0 auto;
}
.App-inner-wrap::before {
  position: absolute;
  content: '';
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(to bottom, var(--color-primary-3), transparent);
}
.light .App-inner-wrap::before {
  height: 70vh;
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-6) 10%,
    transparent 100%
  );
}
/*current page: */
nav ul li a.active,
nav ul li a.active:hover,
.light nav ul li a.active,
.light nav ul li a.active:hover {
  color: var(--color-gray-7);
  cursor: default;
}

nav ul li a.active svg,
nav ul li a.active:hover svg,
.light nav ul li a.active svg,
.light nav ul li a.active:hover svg {
  outline: 1px solid currentColor;
  outline-offset: 2px;
  border-radius: 50%;
}

/********************************************************************/
@media (prefers-reduced-motion: no-preference) {
} /*END @media (prefers-reduced-motion: no-preference)*/

main {
  position: relative;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding-bottom: 2em;
  max-width: 1600px;
  margin: 0 auto;
}

/******************** Portfolio sub-navigation ********************/

.nav-sub {
  position: absolute;
  top: 4em;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  -moz-transform: translateX(50%);
  transform: translateX(50%);
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-size: 0.86em;
  min-width: max-content;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--widest) - calc(var(--page-padding) * 2));
  z-index: 2;
}
.nav-sub * {
  margin: 0;
}
.nav-sub ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 0.6vh;
  margin: 0;
  margin-right: 1em;
  padding: 0;
}
#root .nav-sub .return a.active,
#root .nav-sub .return a.active span {
  /*back to portfolio link*/
  pointer-events: all;
  cursor: pointer;
  border-bottom-color: var(--color-primary-8);
}
#root .nav-sub .return a.active span {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}
#root .nav-sub .return a.active:hover span,
#root .nav-sub .return a.active:focus span {
  color: var(--color-primary-18);
  text-decoration: none;
}
#root .nav-sub .return a.active:hover,
#root .nav-sub .return a.active:focus {
  color: var(--color-primary-18);
  border-bottom-color: currentColor;
  border-bottom-color: var(--color-secondary-10);
}

#root .light .nav-sub .return a.active:hover,
#root .light .nav-sub .return a.active:focus {
  border-bottom-color: var(--color-secondary-15);
  text-decoration: none;
}
.nav-sub .hide {
  /*hide back to portfolio link when on portfolio page*/
  display: none;
}
.nav-sub ul a {
  display: inline-block;
  position: relative;
  padding: 0 1em 0.2em;
  line-height: 2;
  font-weight: normal;
  border-top: 3px solid var(--color-primary-2);
  border-bottom: 3px solid var(--color-primary-8);
}
#root .nav-sub ul a {
  color: var(--color-primary-18);
}
.light .nav-sub ul a {
  border-bottom-color: var(--color-primary-9);
}
#root .light .nav-sub ul a,
#root .light .nav-sub ul a > * {
  text-decoration-color: hsla(var(--hue-primary), 0%, 0%, 0);
}

.nav-sub ul a,
.nav-sub ul a::after {
  border-radius: var(--radius-large);
}
.nav-sub ul a::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary-2);
  -webkit-box-shadow: 0 0.05em 0.9em -0.7em var(--color-primary-11);
  -ms-box-shadow: 0 0.05em 0.9em -0.7em var(--color-primary-11);
  -o-box-shadow: 0 0.05em 0.9em -0.7em var(--color-primary-11);
  -moz-box-shadow: 0 0.05em 0.9em -0.7em var(--color-primary-11);
  box-shadow: 0 0.05em 0.9em -0.7em var(--color-primary-11);
}
.light .nav-sub ul a::after {
  -webkit-box-shadow: 0 0.1em 0.9em -0.5em var(--color-primary-11);
  -ms-box-shadow: 0 0.1em 0.9em -0.5em var(--color-primary-11);
  -moz-box-shadow: 0 0.1em 0.9em -0.5em var(--color-primary-11);
  -o-box-shadow: 0 0.1em 0.9em -0.5em var(--color-primary-11);
  box-shadow: 0 0.1em 0.9em -0.5em var(--color-primary-11);
}
.nav-sub ul a:hover,
.nav-sub ul a:focus {
  color: var(--color-primary-15);
  outline-offset: -2px;
  text-decoration: none;
  border-bottom-color: var(--color-secondary-10);
  border-top-width: 0;
  border-bottom-width: 5px;
}
.light .nav-sub ul a:hover,
.light .nav-sub ul a:focus {
  color: var(--color-primary-9);
  border-bottom-color: var(--color-secondary-15);
}

.nav-sub ul li:not(.return) a.active,
.nav-sub ul li:not(.return) a.active:hover,
.light .nav-sub ul li:not(.return) a.active,
.light .nav-sub ul li:not(.return) a.active:hover {
  pointer-events: none;
  border-bottom-color: currentColor;
  border-top-width: 2px;
  border-bottom-width: 3px;
}

.nav-sub {
  position: relative;
  right: 0;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
  max-width: calc(var(--widest) - calc(var(--page-padding) * 2));
  z-index: 3;
}
.fadeOut .nav-sub {
  -webkit-animation: 0.5s fadeOutUp forwards;
  -moz-animation: 0.5s fadeOutUp forwards;
  -o-animation: 0.5s fadeOutUp forwards;
  -ms-animation: 0.5s fadeOutUp forwards;
  animation: 0.5s fadeOutUp forwards;
}
.nav-sub.transformations ul {
  transition-property: right, left;
  transition-timing-function: cubic-bezier(0.15, 0, 0.85, 1);
  transition-duration: 600ms;
}
.nav-sub ul {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: initial;
  padding-bottom: 1em;
  max-width: calc(100vw - var(--scrollbar_width));
  scrollbar-color: transparent;
  scrollbar-width: none;
}

.nav-sub ul {
  padding-left: 3em;
  padding-right: 3em;
}
.nav-sub ul::-webkit-scrollbar {
  height: 0;
}
button.horizonal-scroll {
  position: absolute;
  top: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-2);
  color: var(--color-gray-7);
  padding: 0.1em;
  margin: 0;
  border: 0;
  font-size: 2em;
  opacity: 1;
  z-index: 1;
}
button.goleft {
  left: -0.1em;
  padding-right: 0.3em;
  border-radius: 0 var(--radius-large) var(--radius-large) 0;
  -webkit-box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
  -o-box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
  -moz-box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
  -ms-box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
  box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
}
button.goright {
  right: -0.1em;
  padding-left: 0.3em;
  border-radius: var(--radius-large) 0 0 var(--radius-large);
  -webkit-box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
  -o-box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
  -ms-box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
  -moz-box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
  box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-2);
}
.light button.goleft {
  left: -0.1em;
  padding-right: 0.3em;
  border-radius: 0 var(--radius-large) var(--radius-large) 0;
  -webkit-box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
  -o-box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
  -moz-box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
  -ms-box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
  box-shadow: 0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
}
.light button.goright {
  right: -0.1em;
  padding-left: 0.3em;
  border-radius: var(--radius-large) 0 0 var(--radius-large);
  -webkit-box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
  -o-box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
  -ms-box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
  -moz-box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
  box-shadow: -0.1em 0 0.2em -0.15em var(--color-primary-9),
    0 0 0.6em 0.6em var(--color-primary-5);
}
button.goleft svg {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
button.goright svg {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
button.horizonal-scroll:hover,
button.horizonal-scroll:focus,
button.horizonal-scroll:focus-visible {
  color: var(--color-primary-14);
}
button.horizonal-scroll.disable {
  opacity: 0.2;
  pointer-events: none;
}

.page {
  padding: 0 var(--page-padding);
  margin: 0 auto;
}
.page > .inner-wrap {
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--margin) * 3) 2%;
  justify-content: center;
  margin: 0 auto;
}
.page > .inner-wrap > * {
  flex: 1 1 calc(100vw - calc(var(--page-padding) * 2) - var(--scrollbar_width));
}
.page .page {
  padding: 0;
}

main.main-content .fullwidth {
  min-width: calc(100vw + 1px - var(--scrollbar_width));
  margin-left: calc(50% - 50vw + calc(var(--scrollbar_width) / 2));
}
main.main-content .fullwidth1 {
  min-width: calc(100vw + 1px - var(--scrollbar_width));
}
.card,
.card > div,
.card > div::before,
.card > div::after {
  /*Remember to add div inside 'card' section*/
  border-radius: var(--radius-small);
}
.card,
.card > div {
  max-width: clamp(
    150px,
    calc(100vw - calc(var(--page-padding) * 2) - var(--scrollbar_width)),
    1200px
  );
  margin-left: auto;
  margin-right: auto;
}
.card > div {
  --padd: 4%;
  position: relative;
  padding: 2em var(--padd) 1.4em;
  z-index: 0;
}

.card > div::before,
.card > div::after {
  content: '';
  position: absolute;
}
.card > div::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}
.light .card > div::before {
  opacity: 0.6;
  border-top-color: white;
  border-bottom-color: var(--color-primary-10);
}
.card > div::after {
  top: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  left: -0.1rem;
  background-image: linear-gradient(
    45deg,
    var(--color-primary-5),
    transparent,
    transparent,
    var(--color-primary-5)
  );
  z-index: -2;
  -webkit-filter: blur(2rem);
  filter: blur(2rem);
}
.light .card > div::after {
  top: 0.4rem;
  right: 0.4rem;
  bottom: 0.4rem;
  left: 0.4rem;
  background-image: linear-gradient(
    45deg,
    var(--color-primary-1),
    transparent,
    transparent,
    var(--color-primary-1)
  );
  -webkit-filter: blur(0.5rem);
  filter: blur(0.5rem);
}
body .z {
  z-index: 2;
}
/********************************************************************/
@media (min-width: 300px) {
  .card {
  }
} /*************************************************** END media */
/********************************************************************/
@media (min-width: 600px) {
  .card > div {
    --padd: 8%;
    padding: 2em var(--padd) 2em;
  }
} /*************************************************** END media */
.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.flex > * {
  flex: 1 1 auto;
}
.column {
  flex-flow: column nowrap;
}
.center {
  justify-content: center;
  align-items: center;
}
#root .gap {
  gap: 1em;
}
#root .gap-half {
  gap: 0.5em;
}
#root .gap0 {
  gap: 0;
}
.textcenter {
  text-align: center;
}
.mb3 {
  margin-bottom: 3rem;
}
.drag,
.drag:focus-visible {
  outline: white 6px solid;
  outline-offset: -5px;
}
.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  gap: 1em;
}
.main-footer a,
.main-footer button {
  font-size: calc(0.9rem * var(--responsive_scale));
  line-height: 1.8;
  text-decoration: none;
}
.main-footer a {
  text-align: center;
}
.main-footer button {
  padding: 0 0.2em;
  margin: 0;
  background: none;
  outline: 0;
  border: 0;
}
.main-footer a.footer1,
.main-footer button {
  color: var(--color-primary-13);
}
.transformations .main-footer a.footer1 * {
  transition-property: color, border, transform, font-size, fill;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-delay: 0s;
}
.main-footer a.footer1:hover,
.main-footer a.footer1:focus,
.main-footer a.footer1:visited:hover,
.main-footer a.footer1:hover span,
.main-footer a.footer1:focus span,
.main-footer button:hover,
.main-footer button:focus,
.main-footer button:focus-visible {
  color: var(--color-secondary-3);
  text-decoration: none;
}
.main-footer button.footer2:hover,
.main-footer button.footer2:focus {
  border: 0;
  outline: 0;
}
@media (max-width: 599px) {
  .main-footer.alt {
    padding-bottom: 8em; /*To accommodate mobile altnav*/
    flex-flow: column nowrap;
  }
  .main-footer .footer1 {
    order: 2;
  }
  .main-footer .footer2 {
    order: 1;
  }
}
.accordion-container .accordion-btn.open span {
  display: inline-block;
  /* -webkit-transform: translateY(0.3em) rotate(180deg);
  -ms-transform: translateY(0.3em) rotate(180deg);
  -o-transform: translateY(0.3em) rotate(180deg);
  -moz-transform: translateY(0.3em) rotate(180deg);
  transform: translateY(0.3em) rotate(180deg); */
}
.accordion-container .accordion-btn.open span.hide {
  display: none;
}

.required {
  color: red;
  font-size: 1.5em;
  line-height: 0.5;
  margin: 0 0.3em 0 0;
}
.wide {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.medium {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.narrow {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.fadeIn {
  -webkit-animation: 0.5s fadeIn forwards;
  -moz-animation: 0.5s fadeIn forwards;
  -o-animation: 0.5s fadeIn forwards;
  -ms-animation: 0.5s fadeIn forwards;
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  -webkit-animation: 0.5s fadeOut forwards;
  -moz-animation: 0.5s fadeOut forwards;
  -o-animation: 0.5s fadeOut forwards;
  -ms-animation: 0.5s fadeOut forwards;
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, -20px);
    -ms-transform: translate(0px, -20px);
    -o-transform: translate(0px, -20px);
    -moz-transform: translate(0px, -20px);
    transform: translate(0px, -20px);
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
#root .App .App-inner-wrap .notification {
  --border-radius: 0.6em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
}
#root .App .App-inner-wrap .notification p {
  margin: 0;
  max-width: 40em;
  background-color: var(--color-primary-2);
  color: var(--color-primary-19);
  border-radius: var(--border-radius);
  border: 0.3em solid var(--color-primary-17);
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
#root .App .App-inner-wrap .notification.error p {
  color: red;
  background-color: black;
  border: 0.3em solid red;
}
#root .App .App-inner-wrap .notification p {
  pointer-events: all;
}
.max-content {
  max-width: max-content;
}

.password-reset-wrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.password-reset-container .accordion-btn.open {
  font-size: 0.8em;
  opacity: 0.8;
}

.accordion-inner {
  transition-property: transform, opacity, height;
  transition-timing-function: ease-in-out;
  transition-duration: 330ms;
  transform-origin: top;
  transform: scaleY(0);
  overflow: hidden;
}

.accordion-inner.animating.closed {
  transform: scaleY(1);
  opacity: 1;
}
.accordion-inner.animating.open {
  transform: scaleY(0);
  opacity: 0;
}
.accordion-inner.open {
  transform: scaleY(1);
  opacity: 1;
  height: max-content;
}
.accordion-inner.closed {
  transform: scaleY(0);
  height: 0;
  opacity: 0;
}
.accordion-container button.open {
  margin: 0 auto;
  flex: 1 0 auto;
}

nav .open.password-reset-container {
  width: 100%;
}
nav form.forgot {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
nav form.forgot .input-wrap {
  width: 100%;
}
nav .open.password-reset-container button.forgot-btn {
  width: 100%;
  border-radius: var(--radius-small);
}
.tooltip-wrap {
  --width: clamp(3rem, calc(50vw), 12rem);
  position: relative;
  --tooltip-offset: 1.5rem;
  --tooltip-max-width: var(--width);
  --tooltip-bgcolor: lightgray;
  --tooltip-color: black;
}
.light .tooltip-wrap {
  --tooltip-bgcolor: white;
}
#root .App .tooltip-wrap .tooltip {
  --tooltip-width: var(--width);
  position: absolute;
  visibility: hidden;
  display: inline-block;
  background-color: var(--tooltip-bgcolor);
  color: var(--tooltip-color);
  z-index: 555;
  min-width: var(--width);
  width: var(--width);
}
#root .App .tooltip-wrap .tooltip.narrow,
#root .App .tooltip-wrap.narrow .tooltip {
  --width: clamp(3rem, calc(30vw), 5rem);
}
#root .App .tooltip-wrap .tooltip.narrow2,
#root .App .tooltip-wrap.narrow2 .tooltip {
  --width: clamp(3rem, calc(60vw), max-content);
}

.tooltip-wrap:not(button):not(a) {
  cursor: help;
}
.tooltip-wrap.pointer:not(button):not(a) {
  cursor: pointer;
}
#root .App .tooltip-wrap:focus .tooltip,
#root .App .tooltip-wrap:hover .tooltip {
  visibility: visible;
}
#root .App .tooltip-wrap .tooltip.above {
  top: unset;
  bottom: calc(var(--tooltip-offset) + 0.5em);
  left: 50%;
  transform: translateX(-50%);
}
#root .App .tooltip-wrap .tooltip.above.space {
  top: unset;
  bottom: calc(var(--tooltip-offset) + 1.2em);
}
#root .App .tooltip-wrap .tooltip.below {
  top: calc(100% + var(--tooltip-offset) * 0.5 + 0.2em);
  left: 50%;
  transform: translateX(-50%);
}
#root .App .tooltip-wrap .tooltip.below.space {
  top: calc(100% + var(--tooltip-offset) * 0.5 + 0.6em);
}
#root .App .tooltip-wrap .tooltip.right.above,
#root .App .tooltip-wrap .tooltip.right.below {
  left: 0;
  transform: unset;
  right: unset;
}
#root .App .tooltip-wrap .tooltip.left.above,
#root .App .tooltip-wrap .tooltip.left.below {
  left: unset; /* calc(var(--tooltip-width) * -1 + 100%); */
  transform: unset;
  right: 0;
}

#root .App .tooltip-wrap .tooltip,
#root .App .tooltip-wrap .tooltip {
  visibility: hidden;
  position: absolute;
  height: max-content;
  width: max-content;
  max-width: var(--tooltip-max-width);
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  background-color: var(--tooltip-bgcolor);
  color: var(--tooltip-color);
  padding: 0.4em 0.4em 0.4em;
  border-radius: 5px;
  border-bottom: gray 1px solid;
  -webkit-box-shadow: -0.3em 0.5em 1em -0.5em rgba(0, 0, 0, 0.4);
  -o-box-shadow: -0.3em 0.5em 1em -0.5em rgba(0, 0, 0, 0.4);
  -ms-box-shadow: -0.3em 0.5em 1em -0.5em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -0.3em 0.5em 1em -0.5em rgba(0, 0, 0, 0.4);
  box-shadow: -0.3em 0.5em 1em -0.5em rgba(0, 0, 0, 0.4);
}

#root .App .tooltip-wrap .tooltip.left {
  right: 0;
  left: unset;
}
#root .App .tooltip-wrap .tooltip.right {
  left: 0;
  right: unset;
}
#root .App .tooltip-wrap:hover .tooltip,
#root .App .tooltip-wrap:focus .tooltip {
  visibility: visible;
}
#root .App .tooltip-wrap:hover .tooltip::before,
#root .App .tooltip-wrap:focus .tooltip::before {
  content: '';
  position: absolute;
  border: 1em solid transparent;
  border-width: calc(var(--tooltip-offset) * 0.5) calc(var(--tooltip-offset) * 0.2);
  z-index: 1;
}
#root .App .tooltip-wrap:hover .tooltip.below::before,
#root .App .tooltip-wrap:focus .tooltip.below::before {
  top: calc(var(--tooltip-offset) * -0.9);
  left: calc(var(--tooltip-width) * 0.5);
  border-bottom-color: var(--tooltip-bgcolor);
}
#root .App .tooltip-wrap:hover .tooltip.above::before,
#root .App .tooltip-wrap:focus .tooltip.above::before {
  top: unset;
  bottom: calc(var(--tooltip-offset) * -0.95);
  border-top-color: var(--tooltip-bgcolor);
  left: 47%;
}
#root .App .tooltip-wrap:hover .tooltip.left.above::before,
#root .App .tooltip-wrap:focus .tooltip.left.above::before,
#root .App .tooltip-wrap:hover .tooltip.left.below::before,
#root .App .tooltip-wrap:focus .tooltip.left.below::before {
  left: unset;
  right: calc(var(--tooltip-offset) * 0.3);
}
#root .App .tooltip-wrap:hover .tooltip.right.above::before,
#root .App .tooltip-wrap:focus .tooltip.right.above::before,
#root .App .tooltip-wrap:hover .tooltip.right.below::before,
#root .App .tooltip-wrap:focus .tooltip.right.below::before {
  right: unset;
  left: calc(var(--tooltip-offset) * 0.3);
}
big > i {
  letter-spacing: 0.05em;
}

.terms.page,
.disclaimer.page {
  counter-reset: section;
}

.terms.page h2::before,
.disclaimer.page h2::before {
  counter-increment: section;
  content: counter(section) '. ';
  font-weight: bold;
}

.terms.page h2 {
  counter-reset: subsection;
}

.terms.page h3::before,
.disclaimer.page h3::before {
  counter-increment: subsection;
  content: counter(section) '.' counter(subsection) '. ';
  font-weight: bold;
}

.terms.page h2,
.terms.page h3,
.disclaimer.page h2,
.disclaimer.page h3 {
  text-align: left;
}

#root .survey-form > * {
  margin-bottom: 2em;
}
#root .survey-form > h3 {
  margin-bottom: 0.5em;
}
