.select-container .container {
  background: linear-gradient(
    5deg,
    var(--color-primary-4) 0%,
    var(--color-primary-1) 100%
  );
}

fieldset {
  display: flex;
  padding: 0 0 1.3em;
  /* width: 100%; */
  max-width: calc(100vw - calc(var(--page-padding) * 4) - var(--scrollbar_width));
  border: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.8em;
}
fieldset > * {
  flex: 1 0 100%;
}
fieldset .full {
  flex-basis: 100%;
}
fieldset .left {
  text-align: left;
}
form .half,
form .third {
  flex-basis: 100%;
}
form .nowrap {
  white-space: nowrap;
}
fieldset:not(:last-of-type) {
  border-bottom: 1px dashed var(--color-gray-general);
}
legend {
  font-size: clamp(var(--title-M), 5vw, var(--title-L));
  letter-spacing: var(--letter-spacing);
  margin: 0 0 1em 0;
  text-align: left;
  padding-top: 1.5em;
  font-family: var(--title-family);
}
legend > p {
  font-size: clamp(calc(1rem * var(--responsive_scale)), 1.5vw, var(--title-XS));
  font-family: var(--text-family);
  letter-spacing: 0;
  padding-top: 0;
}
@media (min-width: 300px) {
  form .half {
    flex-basis: 47%;
    max-width: initial;
  }
  form .third {
    flex-basis: 27%;
    max-width: initial;
  }
}
@media (min-width: 600px) {
  fieldset {
    gap: 1rem 0.5rem;
    justify-content: flex-start;
  }
  legend {
    padding-top: 0;
  }
}

input[type='text' i],
input[type='number' i],
input[type='email' i],
input[type='password' i],
textarea {
  width: 100%;
  line-height: 2;
  font-size: calc(1rem * var(--responsive_scale));
  padding-left: 0.5em;
  color: var(--color-primary-20);
  background-color: var(--color-primary-1);
  border-radius: var(--radius-small);
  font-family: inherit;
  /*also change border properties in select.module.css to match*/
  border-color: var(--color-primary-11);
  border-top-color: var(--color-primary-14);
  border-bottom-color: var(--color-primary-6);
  border-style: solid;
  border-width: 0.09em 0.05em 0.1em 0.05em;

  background-color: transparent;
  border: none;
}
textarea,
  input.bg /*give className of 'bg' to any inputs that need a background */ {
  background-color: var(--color-primary-1);
  background: linear-gradient(
    5deg,
    var(--color-primary-4) 0%,
    var(--color-primary-1) 100%
  );
  border-bottom: solid 0.1em var(--color-primary-6);
}

nav .input-wrap {
  margin-top: 2em;
}
.input-wrap {
  position: relative;
  flex: 1 1 46%;
}
.input-wrap::before,
.input-wrap.not-required::before,
.input-wrap.not-required:has(input:valid)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  -webkit-transform: scaleY(0.08);
  -ms-transform: scaleY(0.08);
  -o-transform: scaleY(0.08);
  -moz-transform: scaleY(0.08);
  transform: scaleY(0.08);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  -moz-transform-origin: bottom;
  transform-origin: bottom;
  background-color: var(--color-primary-1);
  background: linear-gradient(
    5deg,
    var(--color-primary-7) 0%,
    var(--color-primary-4) 0%,
    var(--color-primary-2) 100%
  );
  pointer-events: none;
  border-radius: var(--radius-small);
  border-bottom: solid 0.1em var(--color-primary-6);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.input-wrap.not-required {
  margin-bottom: -1.8em;
}
input:-internal-autofill-selected {
  appearance: none;
  background-color: transparent !important;
  color: inherit !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  color: inherit !important;
  -webkit-box-shadow: inset 0 0 0px 1000px transparent;
}
.input-wrap:has(input:focus)::before,
.input-wrap:has(input:valid)::before,
.input-wrap.not-required:has(input:focus)::before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  -moz-transform: scaleY(1);
  transform: scaleY(1);
}
.input-wrap label {
  position: relative;
  min-width: 100%;
  line-height: 2;
  max-height: 2em;
}
.input-wrap label span,
.input-wrap.not-required input:valid ~ span {
  position: absolute;
  display: inline-block;
  top: -0.4em;
  left: 0.5em;
  min-width: max-content;
  cursor: text;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  font-size: 0.9rem;
}
.input-wrap input:focus-visible {
  outline: none;
}

.input-wrap.not-required input[type='text' i] {
  color: transparent !important;
}
.input-wrap.not-required input:focus {
  color: inherit !important;
}
.input-wrap.not-required label:has(:-internal-autofill-selected) {
  color: transparent;
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.input-wrap.not-required label:focus-within {
  color: inherit;
}
.input-wrap input:focus ~ span,
.input-wrap:not(.not-required) input:valid ~ span,
.input-wrap.not-required input:focus ~ span {
  -webkit-transform: translateY(-2em);
  -ms-transform: translateY(-2em);
  -o-transform: translateY(-2em);
  -moz-transform: translateY(-2em);
  transform: translateY(-2em);
}
textarea {
  resize: vertical;
  min-height: 3.6em;
  line-height: 1.45;
  padding-right: 0.25em;
}
input[type='color' i] {
  height: 3.4em;
  cursor: pointer;
  border-width: 1px;
  width: 48%;
  border-radius: var(--radius-small);
}
input[type='checkbox' i],
input[type='radio' i] {
  --offset: 4px;
  position: relative;
  width: 1em;
  height: 1em;
  cursor: pointer;
  border-radius: var(--radius-small);
  align-self: center;
  margin: 0 0 0 calc(var(--offset) * 2);
}
input[type='checkbox' i] {
  margin-right: 1.3em;
}
.radio-checkbox {
  position: relative;
}
input[type='checkbox' i]:checked,
input[type='radio' i]:checked {
  accent-color: var(--color-primary-11);
}
input[type='radio' i]::before,
input[type='checkbox' i]::before {
  content: '';
  position: absolute;
  outline: 0.1em solid var(--color-gray-lighter);
  outline-offset: var(--offset);
  z-index: -1;
  pointer-events: none;
}
.light input[type='radio' i]::before,
.light input[type='checkbox' i]::before {
  outline-color: var(--color-gray-dark);
  background-color: var(--color-gray-lighter);
}
input[type='radio' i]::before {
  top: -0em;
  left: -0em;
  right: -0em;
  bottom: -0em;
  border-radius: 50%;
  border: 1px solid var(--color-gray-lighter);
  background-color: var(--color-gray-dark);
}
input[type='checkbox' i]::before {
  top: -0.05em;
  left: -0.05em;
  right: -0.05em;
  bottom: -0.05em;
  border-radius: 1px;
  outline-offset: 3px;
}
input[type='radio' i]:checked::before,
input[type='checkbox' i]:checked::before {
  outline-color: currentColor;
  outline-width: 0.22em;
}
input[type='radio' i]:checked::before {
  background-color: var(--color-primary-11);
  border: 1px solid var(--color-primary-20);
}
input[type='checkbox' i]:checked::before {
}
.input-wrap input[type='text' i] {
  padding-left: 1.2em;
  padding-right: 1em;
}
.accordion-register,
.accordion-login {
  display: block;
  margin: 0 auto;
  width: max-content;
  max-width: 240px;
}
.quiz-register-login-wrap .open .accordion-register,
.quiz-register-login-wrap .open .accordion-login {
  width: 400px;
}
.quiz-register-login-wrap form.register,
.quiz-register-login-wrap form.login {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  width: 100%;
  max-width: 100%;
  padding: 0 1em;
}
