form.edit-user {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  gap: 1.5rem;
}
form.edit-user .language {
  flex: 1 1 46%;
  width: 100%;
}
form.edit-user .language > div {
  width: 100%;
}
.p {
  width: max-content;
  margin: 0 auto 2em;
}
.p-last {
  margin-bottom: 3em;
}
