# Minimal workflow to satisfy CodeQL
name: Placeholder
on:
  workflow_dispatch:
jobs:
  placeholder:
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder
        run: echo "Placeholder workflow"